{% extends "pages/base.html" %}
{% load wagtailcore_tags %}


{% block main %}
<div class="container subscribe">
    {% for block in page.content %}
      <section>{% include_block block %}</section>
    {% endfor %}
  </div>
{% endblock main %}


