.beacon-results{
	margin-top: 0 !important;
	@include mobile {
        display: flex;
        justify-content: space-between;
        //margin-bottom: 2rem;

        > h2,
        h3,
        h4 {
            margin: 0;
        }

        #map{
            width: calc(66% - 0.75rem);
        }
        .beacon-listings {
            width: calc(33% - 0.75rem);
        	height: 800px;
        	overflow: scroll;
        }
    }
}

.beacon-listing{
	padding: 2em 0;
	border-bottom: solid 2px $color-primary;
	&:hover{
		background: $color-quaternary;
	}
}

.listing-count{
	background: $color-primary;
	height: 40px;
	width: 40px;
	border-radius: 999999999px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-weight: 700;
    font-size: 22px;
    margin-right: 10px;
}
.listing-heading{
	display: flex;
	align-items: center;
}

#map img{
	filter: none;
}

.beacon-single{
	@include mobile {
		background: $color-grey-bg;
        display: flex;
        justify-content: space-between;
        //margin-bottom: 2rem;

        > h2,
        h3,
        h4 {
            margin: 0;
        }

        .beacon-single__info{
            width: calc(50%);
            background: $color-grey-bg;
            padding: 4rem;
        }
        .beacon-single__map {
        	margin-top: 0;
            width: calc(50%);
            #map{
            	height: 100%;
            }
        }
        .beacon-contact-details{
        	display: flex;
        	justify-content: space-between;
        	align-items: center;
        }
        .beacon-contact-details__image{
        	width: calc(40%);
        	text-align: center;
        }
        .beacon-contact-details__contact{
        	width: calc(60%);
        }
    }
}
.beacon-contact-image{
	border-radius: 9999999px;
    width: 150px;
}
.beacon-single__map {
	margin-top: 2em;
    #map{
    	height: 400px;
    }
}

.beacons-search{
	margin: 0 !important;
	form.filter__form input[type='submit']{
		display: block !important;
	}
    form.filter__form select{
        border-bottom: 0;
    }
	.search__form{
		margin-bottom: 0;
		@include mobile {
			display: flex;
        	justify-content: flex-end;
        }
	}
	form.filter__form{
		margin-left: 0;
        width: 100%;
	}
    @include mobile {
        &.beacons-search--half{
            form.filter__form{
                width: 50%;
            }
        }
    }
    .beacon-services{
        border-left: 2px solid $color-primary;
    }
}