.container {
    width: 100%;
    padding: 0 1.5rem;

    .block-text,
    .block-two_column,
    .block-image_menu {
        max-width: 43rem;
    }

    &.homepage {
        .block-text,
        .block-two_column,
        .block-image_menu {
            max-width: $width-main;
        }
    }

    @include mobile {
        margin: auto;

        &.login {
            max-width: 23.75rem;
        }
        &.subscribe {
            max-width: 42.25rem;
        }
    }

    &.subscribe {
        margin-bottom: 3rem;
        max-width: $width-main;

        section:first-child > h2:first-child {
            @extend .h1;
        }
    }
}

main > .container:first-of-type {
    margin-top: 1.5rem;

    @include desktop {
        max-width: $width-main;
    }

    > div {
        margin: 2.5rem auto;
    }

    &.homepage {
        margin: 0;
        max-width: $width-main;

        > div {
            margin: 2rem auto;
        }

        @include mobile {
            margin: 1.5rem 0;
            > div {
                margin: 5rem auto;
            }
        }
    }
}

.page-main {
    display: flex;
    flex-flow: row nowrap;
    max-width: $width-main;
    margin: 0 auto;
}

body.no-scroll {
    overflow: hidden;

    @include desktop {
        overflow: initial;
    }
}
.content-wrapper{
    overflow: hidden;
}