.footer {
    background: $color-secondary;
    padding: 1rem 0 3rem 0;

    .container {
        max-width: $width-main;
        margin: auto;
    }

    .cta__links {
        @include unstyled-list;
        display: flex;
        flex-flow: row wrap;
        font-size: 1.125rem;
        font-weight: 600;
        margin-top: 3rem;

        span {
            padding: 0 0.3rem 0 0.3rem;
            background: $color-primary;
        }

        .icon {
            height: 0.75rem;
            width: 0.75rem;
        }

        li {
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
            @include desktop {
                margin-right: 2rem;
            }
        }
    }

    .cta__links.cta__links--legal {
        font-size: 0.875rem;
        font-weight: 500;
        margin-top: 1rem;
    }
}

.footer__top {
    @include desktop {
        display: flex;
        flex-flow: wrap;
        width: 100%;
        justify-content: space-between;
    }
}

.footer__header {
    @include desktop {
        width: 60%;
    }
}

.footer__links {
    @include unstyled-list;
    font-size: 0.875rem;
    margin: 3rem 0;

    @include desktop {
        margin: 5rem 0 0 0;
        max-height: 10rem;
        display: flex;
        flex-flow: column wrap;
        align-self: flex-end;
        min-width: 20%;
    }

    li {
        margin-top: 1rem;
        margin-left: 1rem;
    }
}
.footer__legal {
    font-size: 0.875rem;
    width: 70%;
}

.footer__copyright {
    color: $color-grey;
}

.footer__image {
    .icon {
        height: 3.8rem;
        width: 10.8rem;
    }
}

.footer__bottom {
    @include desktop {
        display: flex;
        justify-content: space-between;
    }
}

.footer__social {
    padding: 2.5rem 0 1.5rem 0;
}
