.demo-announcement {
    padding: 0.75rem 0;
    background: $color-primary;
    color: $color-white;
    text-align: center;
}

.desktop-header {
    display: none;

    @include desktop {
        display: block;

        .desktop-header__container {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 1.5rem;

            @include mobile {
                padding: 1.5rem;
            }

            &.container {
                max-width: none;
                padding: 0 2.5rem;
            }

            .header__container-wrapper {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
            }

            .icon {
                margin-right: 0;
                margin-bottom: -0.5rem;
                margin-top: 1.5rem;
            }
        }

        .header__buttons {
            display: flex;
        }
    }
}

.mobile-header__container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background: $color-white;
    padding: 0 1.5rem;
    z-index: 2;
    max-width: none;
    height: 5.5rem;

    @include desktop {
        display: none;
        padding: 0;
    }
    .header__buttons {
        width: 100vw;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background: $color-white;
        padding: 0.5rem 1rem;
        display: flex;
        justify-content: space-around;
        z-index: 1;
        .button {
            padding: 0 2rem;
        }
    }
}

.nav-toggle {
    margin-left: auto;
    cursor: pointer;

    .nav-toggle__open {
        display: inline-flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    .nav-toggle__close {
        display: none;
    }

    .icon {
        margin-left: 0.25em;
    }
}

#nav-toggle:checked ~ .header {
    height: 100vh;
    margin: 0;
    @include desktop {
        height: auto;
        margin: 0;
    }

    .nav--mobile {
        display: flex;
        flex-flow: column nowrap;
        overflow: scroll;
        width: 100%;
        height: 100vh; /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 100);
        background: $color-white;
        top: 5rem;

        a:focus {
            outline: none;
        }
        .nav__buttons {
            display: flex;
            flex-flow: column;
            margin: 1.5rem;

            .button {
                margin: 0.25rem 0;
            }
        }
        .tree-nav__link {
            width: auto;
        }
    }
    .header__buttons {
        display: none;
        @include desktop {
            display: flex;
        }
    }

    .input__form {
        display: inline-flex;
        width: 100%;
        padding-bottom: 0.2rem;
        @include form-border;
        .input {
            width: 95%;
            background: $color-secondary;
            border: none;
            padding: 0.5rem;
        }
        button {
            margin-top: 0.5rem;
            width: auto;
        }
        .icon {
            height: 0.8rem;
            width: 0.8rem;
        }
    }
    .nav-toggle__open {
        display: none;
    }
    .nav-toggle__close {
        display: block;
    }
}

.breadcrumb-bar {
    background: $color-secondary;
}

.mobile-header {
    @include desktop {
        display: none;
    }

    .breadcrumb-bar {
        margin-top: 5.5rem;
    }
}
