.search__form {
    margin-bottom: 6rem;
    @include desktop {
        display: inline-flex;
        width: 100%;
    }
    form {
        @include form-border;

        display: inline-flex;
        height: 3rem;
        align-items: center;
        width: 100%;
        margin-bottom: 1rem;
        padding: 0 1rem 0 0;
        @include desktop {
            width: 70%;
        }
        input[type='text'] {
            width: 96%;
            border: none;
            background: $color-secondary;
            margin: 0 !important;
            border-bottom: none !important;
            font-family: $base-font !important;
            font-weight: 500 !important;
            outline: none;

            @include desktop {
                font-size: 0.875rem !important;
            }
        }
        button {
            padding: 0.2rem 0 0;
            margin: 0;
            background: none;
        }
        .icon {
            height: 1rem;
        }
    }

    .search__filter,
    .news__filter {
        position: relative;
        @include desktop {
            width: 30%;
            margin: 0 0 0 1rem;
            font-size: 0.875rem;
        }
    }

    .search__filter {
        height: 3rem;
    }

    .search__filter-dropdown-button {
        border-bottom: 0.12rem solid $color-primary;
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding: 0.6rem 1rem 1.5rem 0.75rem;
        background: $color-secondary;
    }
}

.search__filter-dropdown {
    @include unstyled-list;

    display: none;
    position: absolute;
    background: $color-secondary;
    width: 60%;

    li {
        margin: 0.5rem 1rem;
    }
    .active {
        color: $color-primary;
        font-weight: 600;
    }
}

//prevents the page from scrolling to the top when selecting filters whilst part-way down the page
#search-toggle {
    top: 30rem;
}

#search-toggle:checked ~ .search {
    .search__filter-dropdown {
        display: block;
    }
}

select {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0 0.75rem;
    border-bottom: 0.12rem solid $color-primary;
    outline: none;
}
input[type='submit'] {
    display: block;
}

.results {
    @include unstyled-list;
}

.results__item {
    @include desktop {
        display: flex;
        justify-content: space-between;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        border-bottom: 0.1rem solid $color-secondary;
    }

    .button {
        align-self: flex-end;
        margin-bottom: 2rem;
        margin-top: 1rem;
        @include desktop {
            margin-top: 0;
        }
    }
    .results__item-text {
        max-width: 50rem;
        margin-right: 0;
        @include desktop {
            margin-right: 8rem;
        }
    }
}
.results__meta {
    font-size: 0.75rem;
    font-weight: 600;
}
.results__subtitle {
    font-size: 0.875rem;
    line-height: 1.5rem;
}

.news__tabs {
    @include unstyled-list;

    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 1.5rem;
    border-bottom: 0.1rem solid $color-secondary;

    @include desktop {
        flex-flow: row wrap;
    }

    li {
        width: 100%;
        background: $color-secondary;
        padding: 0.75rem 1.5rem;
        margin: 0.5rem 0 0 0;
        min-height: 2.625rem;

        @include desktop {
            width: auto;
            margin: 1rem 0 0 0;
        }

        &.active {
            background: $color-primary;
        }
    }

    li + li {
        @include desktop {
            margin-left: 0.5rem;
        }
    }
}
.pagination {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    ul {
        @include unstyled-list;

        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
        font-size: 0.875rem;
        max-width: 56rem;

        li {
            margin-left: 0.5rem;
        }
        .current {
            color: $color-primary;
        }
    }
}

form.filter__form {
    border: none;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;

    @include desktop {
        width: 30%;
        margin-left: 1rem;
        position: relative;
        padding: 0;
    }
    label {
        display: flex;
        position: relative;
        height: calc(100% - 0.12rem);
        width: 100%;
        :focus {
            outline: 0.1rem solid $color-primary;
        }
    }
    select {
        margin-top: 0;
        border-bottom: 0.1rem solid $color-primary;
        font-size: 0.875rem;
    }
    .news__filter {
        display: flex;
        height: 100%;
        width: 100%;
        margin: 0;
    }
    input[type='submit'] {
        background: $color-primary;
        display: block;
        width: auto;
        display: none;
    }
    .tree-nav__toggle-icon {
        margin-top: 0.3rem;
        position: absolute;
        right: 0.75rem;
        top: 0.75rem;
        pointer-events: none;
    }
}

.search {
    margin-bottom: 4rem;
}
