.submenu{
	padding: 0 3rem !important;
}
.megamenu{	
		
	.submenu-heading{
		display: inline-block;
		font-weight: 600;
		border-bottom: 1px $color-tertiary solid;
		padding: 0;
		margin: 0;
		margin-bottom: 1rem;

	}

	.tree-nav__item{
		&:first-child{
			border-bottom: 1px $color-tertiary solid;
			margin-bottom: 1rem;
			// padding-bottom: 1rem;
		}
	}
}

@include mobile() {
	.nav.navbar-nav{
		display: flex;
		@include unstyled-list;
		a{
			&:hover{
				color: $color-primary;
			}
		}
	}
	.top-nav-item{
		padding: 1.5rem 0;
		display: block;
		font-weight: 600;
	}

	.dropdown-menu{
		position: absolute;
		display: none;
		background: $color-grey-bg;
		padding: 3rem;
		right: 0;
		z-index: 9;
		border-top: 5px $color-primary solid;
		.dropdown-menu{
			position: relative;
			padding: 0;
		}
		ul{
			@include unstyled-list;
		}
	}
	.nav-item{
		padding-right: 2rem;
		margin-bottom: 0.5rem;
		position: relative;
		&.nav-item-top{
			margin-bottom: 0;
		}
		&:hover{
			.dropdown-menu{
				display: block;
			}
			.top-nav-item{
				color: $color-primary;
				svg{ 
					transform: rotate(-180deg);
					transition: transform 0.2s;
					path{
						fill: $color-primary;
					}
				}
			}
		}
	}
	.submenu{
		min-width: 230px;
		padding: 0 !important;
	}
	.megamenu{	
		.submenu{
			display: flex;
			column-gap: 2rem;
			
			.nav-item{
				margin-bottom: 0.5rem;
				min-width: 230px;
				&:first-child{
					border-right: 1px $color-tertiary solid;
				}
			}
		}
	}
}

.submenu-extra-item{
	margin-top: 1rem;
	position: relative;
	display: block;
	background: $color-white;
	padding: 1em;

	width: calc(100% + 4rem);
    margin: 0 -2.5rem 1.5rem;

    @include mobile() {
    	width: 100%;
    	margin: 0;
    	margin-top: 1rem;
    }

	&:hover{
		background: $color-tertiary;
		color: $color-black !important;
		.submenu-extra-item__title{
			color: $color-black;
		}
		svg path{
			fill: $color-black
		}
	}
}
.submenu-extra-item__title{
	color: $color-primary;
}
.submenu-extra-item__description{
	font-size: 0.9rem;
}
.submenu-extra-item__chevron{
	position: absolute;
    width: 12px;
    bottom: 0.4rem;
    right: 1em;
}

.menu-bg-overlay{
	position: fixed;
	height: 100vh;
	width: 100%;
	background: $color-black;
	opacity: 0;
	z-index: 8;
    top: 4.8rem;
    // transition: opacity 0.1s;
    // transition-delay: 0.6s;
    display: none;
    &.menu-bg-overlay--show{
    	display: block;
    	opacity: 0.3;
    }
}