.nav--mobile {
    padding: 1.5rem 0;
    display: none;

    ul {
        @include unstyled-list;
        // display: flex;
        // flex-flow: column nowrap;
        // align-items: center;
        // padding: 0 3rem;
    }

    li + li {
        margin: 1.5rem 0 0 0;
    }

    a {
        // padding: 0.25rem 0.5rem;
    }

    @media all and (min-width: 768px) {
        display: none;
    }
}
