.page-sidebar {
    display: none;

    @include desktop {
        display: block;
        margin-top: 2rem;
        order: 1;
        width: 100%;
        max-width: $width-sidebar;
    }

    .sidebar__header {
        font-size: 0.875rem;
        opacity: 55%;
        font-weight: 600;
        border-bottom: 0.1rem solid darken($color-secondary, 20%);
        padding-left: 1rem;
        margin-bottom: 0;
    }

    .block-links {
        ul {
            @include unstyled-list;
        }
        .button.button--outline {
            position: relative;
            padding-right: 3rem;
            font-size: 0.875rem;
            padding: 0.5rem 0.5rem 0.5rem 1rem;
        }

        .icon {
            transform: rotate(45deg);
        }

        .box-link__icon {
            position: absolute;
            right: 1rem;
            top: 0.7rem;
        }
    }
}
.sidebar__meta {
    font-size: 0.75rem;
    margin: 1.5rem 0.5rem 1.5rem 1rem;

    h5 {
        font-size: 0.75rem;
        font-weight: 600;
        margin: 0;
    }

    p {
        margin: 0;
    }

    .button {
        margin-top: 1.5rem;
    }
}

.block-buttons {
    margin-bottom: 1rem;
    ul {
        @include unstyled-list;
    }
}
