.tree-nav {
    .tree-nav__sub-tree[aria-hidden='true'] {
        display: none;
    }
}
.tree-nav__item.is-open{
    .tree-nav__top_link{
        color: $color-primary;
    }
    button{
        svg path{
            fill: $color-primary;
        }
    }
}
.tree-nav--mobile {
    padding: 0 1.5rem;
    overflow: scroll;
    flex-basis: 80%;
    margin-top: 5rem;

    ul {
        list-style: none;
        padding: 0;
    }
    li + li {
        margin: 0;
    }

    .tree-nav__item {
        position: relative;
        width: 100%;
    }
    .tree-nav__root-tree {
        margin: 0;
    }

    .tree-nav__toggle {
        display: block;
        position: absolute;
        top: 0.4rem;
        height: 1.5rem;
        padding: 0.0625rem 0.375rem;
        background-color: unset;
        min-height: unset;
    }

    .tree-nav__toggle-icon {
        width: 20px;
        transition: all 0.125s ease-in-out;
    }

    .tree-nav__toggle[aria-expanded='true'] .tree-nav__toggle-icon {
        transform: rotate(-90deg);
    }
    .tree-nav__toggle[aria-expanded='true'] > .tree-nav__link {
        background: $color-secondary;
    }

    .tree-nav__link {
        display: block;
        width: calc(100% + 4rem);
        // Negative side margins enable the borders and highlights when active to be full-width
        margin: 0 1.5rem;
        padding: 0.5rem 2.5rem 0.5rem 0.75rem;
        line-height: 1.1;
        font-size: 1.25rem;
        font-weight: 800;
    }

    .tree-nav__sub-tree {
        width: calc(100% + 3rem);
        // Negative side margins enable the borders and highlights when active to be full-width
        margin: 0 -1.5rem 0.5rem;
        padding: 1.25rem 3.8rem;
        background: $color-secondary;
        border-top: 5px $color-primary solid;
    }

    .tree-nav__sub-tree > .tree-nav__item {
        margin: 0;
        display: block;

        > .tree-nav__link {
            // padding-left: 1.75rem;
            // font-size: 1rem;
            // font-weight: 600;
        }
    }

    .tree-nav__item-third-level .tree-nav__link{
        font-weight: 400;
        padding: 0;
        margin: 0;
        margin-bottom: 1rem;
        // &:last-child{
        //     margin-bottom: 0;
        // }

    }
}

.tree-nav--desktop {
    .tree-nav__root-tree {
        @include unstyled-list;

        display: flex;
        align-items: center;
        font-weight: 600;
        margin-right: 2rem;
    }

    .tree-nav__item + .tree-nav__item {
        margin-left: 2.5rem;
    }

    .tree-nav__toggle {
        display: none;
    }

    .tree-nav__item:hover > a {
        color: $color-primary;
    }

    .tree-nav__item:hover .tree-nav__sub-tree {
        display: block;
    }

    .tree-nav__sub-tree {
        @include unstyled-list;

        position: absolute;
        margin-left: -0.5rem;
        padding: 1.5rem;
        background-color: $color-secondary-darker;
        z-index: 10;

        // Hack to add some "margin" above dropdown without losing hover
        margin-top: 0rem;
        border-top: solid 0.5rem $color-white;
    }

    .tree-nav__sub-tree .tree-nav__item {
        margin: 0;
    }

    .tree-nav__sub-tree .tree-nav__item + .tree-nav__item {
        margin-top: 0.5rem;
    }
}
