{% extends "registration/base.html" %}


{% block title %}Account activation failed - {{ block.super }}{% endblock %}


{% block main %}
<div class="container">
  <h2>Account activation failed</h2>

  <p>Sorry, your account activation link is not valid.</p>

  <p>If your account is already activated, you can <a href="{% url 'login' %}">login here</a>.</p>
</div>
{% endblock main %}
