{% extends "registration/base.html" %}


{% block title %}Registration complete - {{ block.super }}{% endblock %}


{% block main %}

<h2>Registration complete</h2>

<p>Your account is now activated. <a href="{% url 'login' %}">Click here</a> to login.</p>

{% endblock main %}
