{% extends "registration/base.html" %}


{% block title %}Logged out - {{ block.super }}{% endblock %}


{% block main %}
<div class="container">
  <h2>Logged out</h2>

  <p>You have been successfully logged out. <a href="{% url 'login' %}">Click here</a> to login again.</p>
</div>
{% endblock main %}
