{% extends "registration/base.html" %}


{% block title %}Login - {{ block.super }}{% endblock %}


{% block main %}
<div class="container login">
<h2>Members Login</h2>

  <div class="form">
      <form method="POST">
          {% csrf_token %}

          {{ form.as_p }}

          {% if next %}
              <input type="hidden" name="next" value="{{ next }}">
          {% endif %}
          <ul class="form__links">
            <li><a href="{% url 'password_reset' %}">Forgot your password?</a></li>
            <li><a href="{% url 'registration_register' %}">Register a new account</a></li>
            <button type="submit">Login</button>
          </ul>

      </form>
  </div>

</div>
{% endblock main %}
