{% extends "base.html" %}


{% block title %}Password change successful - {{ block.super }}{% endblock %}


{% block main %}
<div class="container">
  <h2>Password change successful</h2>

  <p>Your password was changed.</p>
</div>
{% endblock main %}
