{% extends "base.html" %}


{% block title %}Password change - {{ block.super }}{% endblock %}


{% block main %}
<div class="container">
  <h2>Password change</h2>

  <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>

  <div class="form">
      <form method="POST">
          {% csrf_token %}

          {{ form.as_p }}

          <button type="submit">Change my password</button>
      </form>
  </div>
</div>
{% endblock main %}
