{% extends "registration/base.html" %}


{% block title %}Password reset - {{ block.super }}{% endblock %}


{% block main %}
<div class="container">
  <h2>Password reset</h2>

  <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>

  <div class="form">
      <form method="POST">
          {% csrf_token %}

          {{ form.as_p }}

          {% if next %}
              <input type="hidden" name="next" value="{{ next }}">
          {% endif %}

          <button type="submit">Reset my password</button>
      </form>
  </div>
</div>
{% endblock main %}
