{% extends "registration/base.html" %}


{% block title %}Password reset complete - {{ block.super }}{% endblock %}


{% block main %}
<div class="container">
  <h2>Password reset complete</h2>

  <p>Your password has been set. You may go ahead and <a href="{{ login_url }}">log in</a> now.</p>
</div>
{% endblock main %}
