{% extends "registration/base.html" %}


{% block title %}Password reset confirmation - {{ block.super }}{% endblock %}


{% block main %}
<div class="container">

  <h2>Password reset confirmation</h2>

  {% if validlink %}
      <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

      <div class="form">
          <form method="POST">
              {% csrf_token %}

              {{ form.as_p }}

              {% if next %}
                  <input type="hidden" name="next" value="{{ next }}">
              {% endif %}

              <button type="submit">Reset my password</button>
          </form>
      </div>
  {% else %}
      <p>The password reset link was invalid, possibly because it has already been used. Please request a new <a href="{% url 'password_reset' %}">password reset</a>.</p>
  {% endif %}
</div>
{% endblock main %}
