{% extends "registration/base.html" %}

{% block title %}Survivor's network registration - {{ block.super }}{% endblock %}


{% block main %}
<div class="container">
  <h2>Survivor's network registration</h2>

  <noscript>
      <p>Javascript is required for registration on this site - your browser currently has javascript disabled.</p>
      <p>Please enable javascript to continue.</p>
  </noscript>

  <div class="form show-required">
      <form id="registration-form" class="user-form" method="POST">
          {% csrf_token %}

          {{ form }}

          {% if next %}
              <input type="hidden" name="next" value="{{ next }}">
          {% endif %}

          <h3>Before you post:</h3>
          <ul>
              <li>Remember online safety is a priority. Do not reveal any identifying information in your posts (names, locations, workplace) as this could place you at risk.</li>
              <li>This site is public. Remember ANYONE can read your posts so please respect this if you post anything. Be care ful not to make comments about individuals or organisations that could damage the reputation of either. In the UK this is a criminal offence called <a href="http://en.wikipedia.org/wiki/Defamation">libel</a></li>
          </ul>
          <p>
              <strong>This site is not a helpline service.</strong> If you need immediate help and support, please call the national helpline number in your country. Helpline numbers can be found via <a href="http://www.hotpeachpages.net/">HotPeachPages.net</a>
          </p>
          <p>
              If you are in the UK please call the freephone 24-hour National Domestic Violence Helpline on 0808 2000 247 run by Women’s Aid and Refuge.
          </p>

          <button type="submit">Register for an account</button>
      </form>
  </div>
</div>
{% endblock main %}
