{% extends "registration/base.html" %}


{% block title %}Account registered - {{ block.super }}{% endblock %}


{% block main %}
<div class="container">
  <h2>Account registered</h2>

  <p>Your account registered - but it needs activating before you can login. An email has been sent containing a link to activate your account.</p>

  <p>If you don't receive an email, please check your spam folder.</p>
</div>
{% endblock main %}
