{% load menu_tags %}


<ul class="nav navbar-nav">
{% for item in menu_items %}
    <li class="nav-item {{ item.active_class }}">
        <a href="{{ item.href }}">{{ item.text }}</a>
        <div class="dropdown-menu {% if item.megamneu %}megamenu{% endif %}">
            {% if item.has_children_in_menu %}
                {% sub_menu item %}
            {% endif %}
        </div>
    </li>
{% endfor %}
</ul>