{% load i18n %}
{# extended to add `link_block_field` and default `hidden` classes to link detail fields. #}
<div class="{{ classname }}">
    {% if help_text %}
        <span>
            <div class="help">
                <span class="icon-help-inverse" aria-hidden="true"></span>
                {{ help_text }}
            </div>
        </span>
    {% endif %}

    {% for child in children.values %}
        <div class="field
                    {% if child.block.required %}required{% endif %}
                    {% if child.block.name in 'page,file,custom_url,new_window' %}
                        {{ child.block.name }}_link_field hidden
                    {% endif %}
        ">
            {% if child.block.label %}
                <label class="field__label" {% if child.id_for_label %}for="{{ child.id_for_label }}"{% endif %}>{{ child.block.label }}</label>
            {% endif %}
            {{ child.render_form }}
        </div>
    {% endfor %}
</div>
