<div class="{{ classname }} two_column_block">
  {% if help_text %}
      <span>
          <div class="help">
              <span class="icon-help-inverse" aria-hidden="true"></span>
              {{ help_text }}
          </div>
      </span>
  {% endif %}

  {% for child in children.values %}
    {% if child.block.name not in 'left_column,right_column' %}
      <div class="field {% if child.block.required %}required{% endif %}">
          {% if child.block.label %}
              <label class="field__label" {% if child.id_for_label %}for="{{ child.id_for_label }}"{% endif %}>{{ child.block.label }}</label>
          {% endif %}
          {{ child.render_form }}
      </div>
    {% endif %}
  {% endfor %}
  <div class="columns">
      {% for child in children.values %}
        {% if child.block.name in 'left_column,right_column' %}
        <div class="field column {{ child.block.name }}">
              {% if child.block.label %}
                  <label class="field__label" {% if child.id_for_label %}for="{{ child.id_for_label }}"{% endif %}>{{ child.block.label }}</label>
              {% endif %}
              {{ child.render_form }}
          </div>
        {% endif %}
      {% endfor %}
  </div>
</div>
