{% extends "pages/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block bodyclass %}home{% endblock %}

{% block top_banner %}
  {% if page.header_image %}
    {% image page.header_image width-1000 as img %}
    <div class="top-banner homepage">
      <div class="top-banner__container">
        <h1>{{ page.header_title }}</h1>
        <div class="top-banner__buttons">
          {% include_block page.header_buttons %}
        </div>
        <div class="top-banner__image {% if page.header_image_disable_grayscale %}disable-grayscale{% endif %}" style="background:url({{ img.url }}) center center/cover"></div>
      </div>
    </div>
  {% endif %}
{% endblock %}


{% block main %}
<article class="page-article container homepage">
  {% include_block page.content %}
</article>
{% endblock main %}

{% block sidebar %}{% endblock %}


{% block endpage %}
<div id="video-modal"></div>
{% endblock endpage %}
