{% extends "pages/base.html" %}
{% load wagtailcore_tags level_navigation tree_navigation %}

{% block main %}
<article class="page-article container">
  <div class="page__header">
    {% include "includes/heading.html" with level="h1" text=page.title %}
  </div>

  {% include_block page.content %}
</article>
{% endblock main %}

{% block sidebar_related %}
  {% with children=page.get_children.live %}
    {% if children %}
    <h4 class="sidebar__header">{{ page.title }}</h4>
      {% include "includes/sidebar_related_links.html" with related_links=children respect_show_in_menus=True %}
    {% endif %}
  {% endwith %}
  {% with siblings=page.get_siblings.live %}
    {% if siblings %}
      <h4 class="sidebar__header">
        {% if page.get_parent.pk is not request.site.root_page.pk %}
          {{ page.get_parent.title }}
        {% else %}
          Restored
        {% endif %}
      </h4>
      {% include "includes/sidebar_related_links.html" with related_links=siblings respect_show_in_menus=True %}
    {% endif %}
  {% endwith %}

{% endblock %}

{% block sidebar_content %}
  {% include_block page.sidebar_content %}
{% endblock sidebar_content %}
