{% extends "beacons/base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block main %}
<section class="post page-article container">
    
  <h1 class="h2"><a class="title" href="{% pageurl page %}">{{ page.title }}</a></h1>

  <div class="beacon-single">

    <div class="beacon-single__info">

      {% if page.image %}
          {% image page.image fill-620x350 %}
      {% endif %}

      {% include_block page.content %}

      <h4>Address:</h4>
      <p>{{ page.address }}</p>

      <h4>Services:</h4>
      <ul>
        {% for i in page.services.all %}
          <li>{{ i }}</li>
        {% endfor %}
      </ul>

      {% if page.contact_name or page.contact_email or page.contact_phone %}
        <h4>Contact details:</h4>
        <div class="beacon-contact-details">
          <div class="beacon-contact-details__contact">
            {% if page.contact_name %}
              <strong>Name:</strong><br />
              {{ page.contact_name }}<br />
            {% endif %}
            {% if page.contact_email %}
              <strong>Email:</strong><br />
              <a href="mailto:{{ page.contact_email }}">{{ page.contact_email }}</a><br />
            {% endif %}
            {% if page.contact_phone %}  
              <strong>Phone:</strong><br />
              <a href="tel:{{ page.contact_phone }}">{{ page.contact_phone }}</a><br />
            {% endif %}
          </div>
          {% if page.contact_image %}  
            {% image page.contact_image width-1000 as img %}
            <div class="beacon-contact-details__image">
              <img class="beacon-contact-image" src="{{ img.url }}" alt="{{ page.contact_name }}" />
            </div>
          {% endif %}
        </div>
      {% endif %}

      <p>
        <a class="button" href="{{ page.website }}" target="_blank">Go to website</a>
      </p>

      
       <a href="{{ self.get_parent.get_url }}" class=" styled-link " target="_blank">
          Back to {{ self.get_parent.title|lower }}

          
            <svg width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.73563 6.83789C9.08719 7.2041 9.08719 7.79883 8.73563 8.16504L3.33563 13.79C2.98407 14.1562 2.41313 14.1562 2.06157 13.79C1.71001 13.4238 1.71001 12.8291 2.06157 12.4629L6.82594 7.5L2.06438 2.53711C1.71282 2.1709 1.71282 1.57617 2.06438 1.20996C2.41594 0.84375 2.98688 0.84375 3.33844 1.20996L8.73845 6.83496L8.73563 6.83789Z" fill="#fff"></path>
          </svg>
        

        </a>
      

      <div class="marker" data-id=" "
                data-address="{{ page.address }}"
                data-lat="{{ page.lat }}"
                data-lng="{{ page.lng }}"
                data-name="{{ page.title }}"></div>

    </div>

    <div class="beacon-single__map">

      <div id="map" data-zoom="20"></div>
    </div>

  </div>

</section>
{% endblock main %}


{% block extra_scripts %}
{{block.super}}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBXAeRRgYQYCwg_1J3sX69xukcFG13uE4"></script>
<script src="{% static 'src/js/beacons.js' %}"></script>
{% endblock extra_scripts %}