{% extends "resources/base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block title %}{% if category %}{{ category.title }}{% elif region %}{{ region.title }}{% elif country.title %}{{ country }}{% elif topic %}{{ topic.title }}{% else %}News{% endif %} - {{ block.super }}{% endblock %}

{% block main %}
  <input type="checkbox" id="search-toggle" class="visually-hidden" {% if filter.data.topic %}checked{% endif %}>

  <div class="container search">
    {% block categorytitle %}
      <h1 class="category-title">
        {% if page.title %}
          {{  page.title  }}
        {% elif title %}
          {{ title }}
        {% endif %}
      </h1>
    {% endblock %}

    <div class="beacons-search beacons-search--half">
     <!--  <ul class="news__tabs">
        <li {% if not filter.data.category %}class="active"{% endif %}>
          <a href="?">All</a>
        </li>
        {% for category in services %}
          <li {% if category.slug in filter.data.category %}class="active"{% endif %}>
            <a href="?category={{ category.slug }}">{{ category.title }}</a>
          </li>
        {% endfor %}
      </ul> -->
      <div class="search__form">
        <form method="GET" id="address-form" class="search__input filter__form " action="">

          <!-- REMOVE UNTIL GEO SEARCH NEEDED
          <input type="text" name="address" value="{{ search_query }}" placeholder="Address here">
          <a href="#" onclick="userLocationSearch()">
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" class="icon" viewBox="0 0 512 512"><path d="M256 0c17.7 0 32 14.3 32 32V66.7C368.4 80.1 431.9 143.6 445.3 224H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H445.3C431.9 368.4 368.4 431.9 288 445.3V480c0 17.7-14.3 32-32 32s-32-14.3-32-32V445.3C143.6 431.9 80.1 368.4 66.7 288H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H66.7C80.1 143.6 143.6 80.1 224 66.7V32c0-17.7 14.3-32 32-32zM128 256a128 128 0 1 0 256 0 128 128 0 1 0 -256 0zm128-80a80 80 0 1 1 0 160 80 80 0 1 1 0-160z"/></svg>
          </a>

          -->

        <!-- <div class="filter__form"> -->
              <label for="search-toggle" class="beacon-services">
                <select class="filter__form-select" id="beacon-services" name="services" autocomplete="off">
                  <option selected disabled hidden value>Filter</option>
                  <option value="">All Services</option>
                  {% for topic in all_beaconservices %}
                    <option value="{{ topic.slug }}" {% if topic.slug in filter.data.service %}selected{% endif %}>{{ topic.title }}</option>
                  {% endfor %}
                </select>
                <svg class="icon tree-nav__toggle-icon">
                  <use xlink:href="#chevron-down" />
                </svg>
              </label>
            <!-- </div> -->
            <input type="submit" class="button" id="filter__input" value="Search">
        </form>



        <!-- <form method="get" class="filter__form" onsubmit="this.form.submit()">
            <input type="hidden" name="category" value="{{ filter.data.category }}">
            <label for="search-toggle" class="">
              <select class="filter__form-select" name="services" autocomplete="off">
                <option selected disabled hidden value>Filter</option>
                <option value="">All Services</option>
                {% for topic in all_beaconservices %}
                  <option value="{{ topic.slug }}" {% if topic.slug in filter.data.service %}selected{% endif %}>{{ topic.title }}</option>
                {% endfor %}
              </select>
              <svg class="icon tree-nav__toggle-icon">
                <use xlink:href="#chevron-down" />
              </svg>
            </label>
            <input type="submit" class="button" id="filter__input" value="Filter">
        </form> -->
      </div>
    </div>

    <div class="beacon-results">
  
      <ul class="beacon-listings results">
        {% for result in results %}
        <li class="marker beacon-listing" 
              data-id="{{ forloop.counter }}"
              data-address="{{ result.address }}"
              data-lat="{{ result.lat }}"
              data-lng="{{ result.lng }}"
              data-name="{{ result.title }}">
              <div class="listing-heading"><div class="listing-count">{{ forloop.counter }}</div> <h4>{{ result.title }}</h4></div>
              <p>{{ result.address }}</p>
              <a class="button" href="{% pageurl result %}">Find out more</a>
          </li>
        {% endfor %}
      </ul>

      <div id="map" data-zoom="10" style="height:800px"></div>

    </div>

  <!--   {% if results %}
      {% include "includes/pagination.html" %}
    {% endif %} -->
  </div>
{% endblock main %}

{% block extra_scripts %}
{{block.super}}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBXAeRRgYQYCwg_1J3sX69xukcFG13uE4"></script>
<script src="{% static 'src/js/beacons.js' %}"></script>
{% endblock extra_scripts %}
