body {
    font-family: $base-font, sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 1.5rem;
    line-height: 1.8rem;
}

h1,
.h1 {
    font-family: $secondary-font, sans-serif;
    font-size: 4rem;
    line-height: 4rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    letter-spacing: -4px;

    @include mobile {
        font-size: 7.5rem;
        line-height: 7.5rem;
    }

    @include desktop-large {
        margin-left: -2.5rem;
    }
}

h2,
.h2,
h1.title--medium-length,
.h1.title--medium-length {
    font-size: 2.5rem;
    font-family: $secondary-font, sans-serif;
    line-height: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    letter-spacing: -1.5px;

    @include mobile {
        font-size: 3.4375rem;
        line-height: 4rem;
    }
}

h3,
.h3,
h1.title--long,
.h1.title--long {
    font-size: 2rem;
    font-family: $secondary-font, sans-serif;
    line-height: 2.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    letter-spacing: -1px;

    @include mobile {
        font-size: 2.75rem;
        line-height: 3rem;
    }
}

h4,
.h4 {
    font-size: 1.5rem;
    font-family: $secondary-font, sans-serif;
    line-height: 2rem;
    margin-top: 1rem;
    margin-bottom: 0.75rem;
    letter-spacing: -0.5px;
    line-height: 2rem;

    @include mobile {
        font-size: 2.1875rem;
        line-height: 3rem;
    }
}

h5,
.h5 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;

    @include mobile {
        font-size: 1.40625rem;
        line-height: 2rem;
    }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-weight: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

p a {
    text-decoration: underline;
}

hr {
    border: none;
    height: 0.25rem;
    background: $color-grey;
}
.subheading{
    font-size: 1.6rem;
    line-height: 1.8rem;
}
.homepage {
    @include desktop-large {
        .rich-text {
            h2,
            h3,
            h4 {
                margin-left: -2.5rem;
            }
        }
    }

    // Make the first h2 heading larger - but only if it's short
    h2.title--short-length:first-of-type {
        font-size: 3rem;
        line-height: 1.1;
        margin-top: 1.5rem;
        margin-bottom: 2rem;
        letter-spacing: -4px;

        @include mobile {
            margin-left: 1rem;
        }

        @include desktop {
            font-size: 7.5rem;
            line-height: 7.5rem;
        }
        @include desktop-large {
            margin-left: -2.5rem;
        }
    }
}

.rich-text {
    a:hover {
        color: $color-primary;
    }
}

.yellow-heading{
    text-transform: uppercase;
    color: $color-primary;
    font-weight: 600;
    text-align: center;
    padding-bottom: 0.5em;
}

.heading--center{
    text-align: center;
}