@mixin hidden {
    display: none;
}

@mixin visually-hidden {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

@mixin background-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@mixin row {
    display: flex;
    flex-flow: column nowrap;

    @media all and (min-width: 768px) {
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
    }
}

@mixin inverted {
    background: $color-primary;
    color: $color-white;
}

@mixin unstyled-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin form-border {
    border-bottom: 0.1em solid $color-primary;
    background: $color-secondary;
}

@mixin grayscale-image {
    @media (min-width: #{$breakpoint-desktop}) {
        transition: 1s;
        &:not(.disable-grayscale) {
            filter: grayscale(100%);

            &:hover {
                filter: grayscale(0%);
            }
        }
    }
}

.hidden {
    @include hidden;
}

.visually-hidden {
    @include visually-hidden;
}

.background-image {
    @include background-image;
}

.row {
    @include row;
}

.inverted {
    @include inverted;
}

.unstyled-list {
    @include unstyled-list;
}
