{% load crispy_forms_tags %}
<div class="subscription-form subscription-form--in-page">
	<h2>{{ self.title }}</h2>
	<p>{{ self.description }}</p>
{% crispy form %}
{% include "includes/form_privacy_footer.html" %}
</div>
