/* Sometimes we need to hide fields - as in Link Selector blocks, to choose which fields are
   visible depending on link type */

.field.hidden {
    display: none;
}

/* Make Lists / sub-streamfields more obvious */

.multi-field .c-sf-container,
.c-sf-block .c-sf-container {
    border: 1px solid #e6e6e6;
    background: #fcfcfc;
    border-radius: 3px;
    box-shadow: inset 0 0 6px #fcfcfc;
    transition: box-shadow 1s;

    &:hover {
        box-shadow: inset 0 0 6px #cccccc;
    }
}

/* Make Two-Column blocks Display as two-columns when the screen is large enough */

@media only screen and (min-width: 1000px) {
    .two_column_block .columns {
        display: flex;

        .field.column {
            padding: 0.2em;
            width: 100%;
        }
    }

    .two_column_block.two_column_halves .left_column {
        flex: 50;
    }

    .two_column_block.two_column_left .left_column {
        flex: 60;
    }

    .two_column_block.two_column_right .left_column {
        flex: 40;
    }

    .two_column_block.two_column_left-extra .left_column {
        flex: 70;
    }

    .two_column_block.two_column_right-extra .left_column {
        flex: 30;
    }

    .two_column_block.two_column_halves .right_column {
        flex: 50;
    }

    .two_column_block.two_column_left .right_column {
        flex: 40;
    }

    .two_column_block.two_column_right .right_column {
        flex: 60;
    }

    .two_column_block.two_column_left-extra .right_column {
        flex: 30;
    }

    .two_column_block.two_column_right-extra .right_column {
        flex: 70;
    }
}
