// Base sizes
$base-font-size: 1rem !default;
$base-line-height: 1.5 !default;
$base-font: 'Montserrat';
$secondary-font: 'Work Sans';

// Colors
$color-primary: #ffb401 !default;
$color-secondary: #f7f6f5 !default;
$color-secondary-darker: darken($color-secondary, 5%) !default;
$color-primary-darker: darken($color-primary, 20%) !default;

$color-black: #000000 !default;
$color-white: #ffffff !default;
$color-grey: #a0a0a0 !default;
$color-grey-light: #d3d3d3 !default;
$color-tertiary: #ffe8b2 !default;
$color-quaternary: #fff7e5 !default;
$color-red: #db2b39 !default;
$color-grey-bg: #F5F5F5 !default;

// Size
$width-container: 50rem !default;
$width-sidebar: 20rem !default;
$width-main: 70rem !default;

// Responsive breakpoints
$breakpoint-mobile-small: 460px;
$breakpoint-mobile: 640px;
$breakpoint-desktop: 1100px;
$breakpoint-desktop-large: 1280px;