@import 'radio_checkbox';

form {
    padding: 0 1rem;
    @include mobile {
        padding: 1rem 0;
    }
    input:not([type='checkbox']):not([type='radio']):not([type='submit']),
    textarea,
    select,
    button {
        appearance: none;
        width: 100%;
        margin: 0.75rem 0 0;
        padding: 0.75rem;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 0.125rem solid $color-primary;
        border-radius: 0;
        background: $color-secondary;
        font-size: inherit;
        font-family: inherit;
        line-height: 1.25rem;
        -webkit-font-smoothing: antialiased;
    }

    select {
        padding-right: 2.25rem;
        appearance: none !important;

        &::-ms-expand {
            display: none;
        }
    }

    textarea {
        max-height: 12.5rem;
        resize: none !important;
    }

    fieldset {
        margin-bottom: 1.5rem;
        padding: 0;
        border: none;

        legend {
            margin-bottom: 1.5rem;
            font-size: 1.5rem;
        }
    }

    .field {
        margin: 1.25rem 0;
    }

    .field-label {
        font-weight: 600;
    }

    .help-inline,
    .help-block {
        display: block;
        vertical-align: top;
        padding: 0.75rem;
        background: $color-secondary;
        font-size: 0.875rem;
    }

    .errorlist {
        @include unstyled-list;

        margin-bottom: 1.5rem;
        color: $color-primary;
        font-weight: bold;
    }

    label {
        font-size: 0.75rem;
        font-weight: 600;
    }

    .helptext {
        display: block;
        font-size: 0.875rem;
        margin-bottom: 1.5rem;
    }
}

button[type='submit'],
button[class='submit'] {
    background: $color-primary;
    width: auto;
}
.form__links {
    @include unstyled-list;

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.75rem;
}

.subscription-form {
    max-width: $width-container;
    margin: 2rem auto;

    form {
        padding: 0;
    }

    .control-group {
        margin-top: 1rem;
    }
    .controls {
        display: flex;
        flex-flow: column nowrap;
        label {
            padding-left: 2rem;
            margin-top: 1rem;
        }
        input {
            margin-left: -2rem;
        }
    }
}

.button-container {
    text-align: right;
}

input[name='terms_and_conditions'] {
    margin-left: 0.5rem;
}

input[type='text'] {
    height: 80%;
}

.form-privacy-footer {
    font-size: 0.9rem;
    line-height: 1.2rem;
}

.subscription-form--in-page{
    max-width: 100%;
    margin: 0;
    .rich-text{
        max-width: 840px;
    }
    form{
        @include mobile {
            display: flex;
            label{
                position:absolute;
                left:-10000px;
                top:auto;
                width:1px;
                height:1px;
                overflow:hidden;
            }
            .control-group{
                margin-top: 0;
            }
        }
        input[type='text'],
        input[type='email']{
            margin-top: 0 !important;
            height: auto;
            height: 100%;
            border-left: 0.125rem solid #ffb401 !important;
            border-top: 0.125rem solid #ffb401 !important;
            border-right: 0.125rem solid #ffb401 !important;
            @include mobile {
                border-right: 0 !important;
            }

            &:focus{
                // border-left: 0.125rem solid $color-primary-darker !important;
                // border-top: 0.125rem solid $color-primary-darker !important;
                // border-right: 0.125rem solid $color-primary-darker !important;
                border-bottom: 0.125rem solid $color-red !important;
                outline: 0;
            }
        }
        button[type='submit'], button[class='submit']{
            // margin-top: 0 !important;
            height: 100%;
            width: 100%;
            text-align: center;
            display: block;
            @include mobile {
                margin-top: 0 !important;
            }
        }
        .button-container{
            flex: 1;
        }
    }
    .form-privacy-footer{
        font-size: 0.7rem;
        font-weight: 300;
        max-width: 680px;
    }
}