.checkbox,
.radio {
    position: relative;
    margin: 1rem 0;

    input {
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        z-index: -1;
    }

    label {
        position: relative;
        padding-left: 2.5rem;

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: -0.2rem;
            left: 0;
            width: 1.25rem;
            height: 1.25rem;
            border: 0.125rem solid $color-grey;
            background: $color-white;
        }
    }

    &:last-child {
        margin-bottom: 1.375rem;
    }
}

.checkbox {
    input:checked + label::before {
        content: '';
        display: block;
        position: absolute;
        left: 0.5rem;
        top: 0.25rem;
        width: 0.25rem;
        height: 0.625rem;
        border: solid $color-primary;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
        z-index: 2;
    }
}

.radio {
    label::after {
        border-radius: 50%;
        box-shadow: inset 0 0 0 0.25rem $color-white;
    }

    input:checked + label::after {
        background: $color-primary;
    }
}
