.block-buttons {
    padding: 0 2.5rem;
    ul {
        @include unstyled-list;

        display: flex;
        flex-flow: row wrap;
        
        li {
            margin-right: 1rem;
            margin-top: 1rem;
        }
    }
}
