.cta-block {
    padding: 2rem;
    background: $color-tertiary;
   
    .button {
        margin-top: 1rem;
    }

    h4{
        margin-top: 0;
    }

    &--full{
        padding: 2em 0;
        position: relative;
        &:before{
            background: $color-tertiary;
            position: absolute;
            height: 100%;
            width: 100vw;
            left:-50vw;
            top: 0;
            content: "";
            z-index: -1;
        }
    }

    &--full{
        position: relative;
        &:after{
            background: $color-tertiary;
            position: absolute;
            height: 100%;
            width: 100vw;
            left: 50vw;
            top: 0;
            content: "";
            z-index: -1;
        }
    }

    &--faded{
        background: $color-quaternary;
        &:before, &:after{
            background: $color-quaternary;
        }
    }

}

.page-sidebar {
    .cta-block {
        max-width: 19.625rem;
        background: $color-secondary;
        margin: 1rem 0;
    }
}

.cta-block__content{
    position: relative;
}