.get-resource {
    padding: 2rem;
    display: block;
    background: $color-tertiary;

    form {
        display: flex;
        flex-flow: column;
        padding: 0;

        p {
            order: -1;
        }
    }

    select{
        position: relative;
    }

    h4 {
        padding: 0;
    }

    button[type='submit'] {
        margin-top: 1rem;
        background: $color-primary;
        width: 8rem;
        min-height: 3rem;
    }

    .get-resource__file {
        position: relative;
    }

    .icon {
        position: absolute;
        margin-right: -0.3rem;
        top: 1.5rem;
        right: 1rem;
        width: 1rem;
    }
}
