.image-with-link-block {
    height: 16.875rem;
    position: relative;
    width: 100%;

    @include desktop {
        margin: 0 2.5rem;
        width: calc(100% + 2.5rem);
        margin-left: -1.5rem;
        margin-right: -1.5rem;
    }

    &:hover {
        .button {
            background: $color-primary;
            .icon {
                fill: $color-black;
            }
        }
    }
    .image-with-link-block__background {
        @include grayscale-image;

        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        transition: 1s;
    }

    .image-with-link-block__container {
        position: absolute;
        bottom: -1rem;
        right: 0;
        display: flex;
        flex-flow: column wrap;
        align-items: flex-end;
    }

    .button {
        width: 3.75rem;
        height: 3.75rem;
        padding: 0;
        background: $color-black;
        transition: 1s;

        .icon {
            margin-left: 1rem;
            width: 1.625rem;
            fill: $color-white;
            transition: 1s;
        }
    }

    .image-with-link-block__link {
        background: $color-secondary;
        font-weight: 600;
        padding: 0.5rem 1rem;
        font-size: 2.1875rem;
        font-family: $secondary-font;
        letter-spacing: -0.5px;
        line-height: 3rem;
    }
}
