.image-menu-block {
    padding: 0;
    @include mobile {
        display: flex;
        padding: 0;
    }
    @include desktop {
        padding: 0 2.5rem;
    }
}
.image-menu-block__left {
    margin-bottom: 2rem;
    @include mobile {
        width: 30%;
        margin-bottom: 0;
    }
}

.image-menu-block__right {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    @include mobile {
        width: 70%;
    }

    .image-with-link-block {
        min-width: 19.5rem;
        min-height: 15.875rem;
        height: auto;
        margin: 1rem 0;

        @include mobile {
            flex: 1;
            min-width: 13rem;
            min-height: 13rem;
            margin: 1rem;
        }
    }
}
