.block-quote_block {
    background: $color-secondary;
}
blockquote {
    padding: 3rem 2.5rem;

    .rich-text, p {
        // padding: 2rem 0 0;
        font-size: 1.25rem;
        font-weight: 600;

        @include mobile {
            font-size: 1.40625rem;
        }
    }
}

.quote-block__citation {
    text-align: right;
    // padding-bottom: 3rem;
    font-size: 0.75rem;

    @include mobile {
        font-size: 1rem;
    }
}
