.slide{
	 @include mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 2rem;
        padding: 0 4rem;

        .slide_image{
        	width: 40%;
        }
        .slide_content{
        	width: 60%;
        }
    }
    h3{
    	margin-top: 0;
    }
}
html .swiper-pagination{ 
	position: relative;
	.swiper-pagination-bullet{
		background: $color-primary;
		opacity: 0.5;
	}
	.swiper-pagination-bullet-active{
		opacity: 1;
	}
}
html .swiper-button-next, html .swiper-button-prev{
	display: none;
	@include mobile {
		display: block;
	}
	&:after{
		content: none;
	}
}