.stat-list-block {
    display: flex;
    flex-flow: column;
    background: $color-tertiary;
    width: calc(100% + 3rem);
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding: 1.875rem 3rem;
    justify-content: space-around;
    align-items: center;

    @include mobile {
        flex-flow: row wrap;
        align-items: flex-start;
    }
}

.image-stat-block {
    width: 15.5rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 5rem 0;
    text-align: center;

    img {
        height: 5.875rem;
        width: auto;
        filter: grayscale(0);
    }
    p {
        margin: 0;
    }
    .rich-text {
        width: 100%;
    }
    h4 {
        margin: 3rem 0 0.5rem 0;
    }
}
@include mobile {
    .image-stat-block + .image-stat-block {
        margin-left: 1rem;
    }
}
