.summary-block {
    position: relative;
    padding: 1rem 2.5rem 1rem 2.5rem;
    background: $color-quaternary;
}
.page__header,
.block-heading {
    + .block-summary_block {
        .summary-block__background {
            background: $color-quaternary;
            position: absolute;
            top: -10rem;
            bottom: 0;
            left: -1.5rem;
            right: -1.5rem;
            z-index: -1;

            @include desktop {
                right: 0;
            }
        }
    }
}
