.three-column-block__columns {
    .two-column-block__left {
        margin-bottom: 2rem;
    }
    .image-with-link-block {
        margin: 0;
    }

    .three-column-block__column{
        text-align: center;
        margin-bottom: 2rem;
        
        figure img{
            margin: 0 auto;
            display: block;
        }

        @include mobile {
            margin-bottom: 0;
            width: calc(33% - 0.75rem);
        }

        .rich-text{
            h2,h3,h4{
                margin-left: 0;
                margin-top: 0.2em;
            }
        }
        p{
            font-size: 0.95rem;
            line-height: 1.4rem;
        }
    }

    @include mobile {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;

        > h2,
        h3,
        h4 {
            margin: 0;
        }

    }
    ul {
        @include unstyled-list;
    }
    .rich-text {
        ul {
            list-style: disc;
        }
    }
    @include desktop {
        li {
            margin: 0 1rem;
        }

        li:last-of-type {
            margin-bottom: 1rem;
        }
    }

    .box-link.button {
        font-weight: 600;

        @include desktop {
            margin-bottom: 0;
        }
        .box-link__icon {
            background: $color-primary;
            padding: 0.3rem 0.5rem 0 0.5rem;
        }
        .icon {
            opacity: 100%;
        }
    }
    figure {
        margin: 0;
    }
}

// .homepage {
//     .two-column-block__columns .two-column-block__left .cta-block {
//         max-width: 100%;
//         margin-left: 0;
//     }
//     .two-column-block__columns .two-column-block__right .cta-block {
//         max-width: 100%;
//         margin-right: 0;
//     }
// }

// .homepage {
//     .two-column-block__columns .two-column-block__left .rich-text {
//         h2,
//         h3,
//         h4 {
//             margin-left: 0;
//         }
//     }
// }
