.two-column-block__columns {
    .two-column-block__left {
        margin-bottom: 2rem;
    }
    .image-with-link-block {
        margin: 0;
    }
    @include mobile {
        display: flex;
        justify-content: space-between;
        //margin-bottom: 2rem;

        > h2,
        h3,
        h4 {
            margin: 0;
        }

        .two-column-block__left {
            width: calc(50% - 0.75rem);
            .cta-block,
            .image-with-link-block,
            .image-block {
                margin-bottom: 2rem;
                @include desktop {
                    margin-left: -2.5rem;
                    //margin-bottom: 0;
                }
            }
        }
        .two-column-block__right {
            width: calc(50% - 0.75rem);
            .cta-block,
            .image-with-link-block,
            .image-block {
                margin-bottom: 2rem;
                @include desktop {
                    margin-right: -2.5rem;
                    //margin-bottom: 0;
                }
            }
        }
    }
    ul {
        @include unstyled-list;
    }
    .rich-text {
        ul {
            list-style: disc;
        }
    }
    @include desktop {
        li {
            margin: 0 1rem;
        }

        li:last-of-type {
            margin-bottom: 1rem;
        }
    }

    .box-link.button {
        font-weight: 600;

        @include desktop {
            margin-bottom: 0;
        }
        .box-link__icon {
            background: $color-primary;
            padding: 0.3rem 0.5rem 0 0.5rem;
        }
        .icon {
            opacity: 100%;
        }
    }
    figure {
        margin: 0;
    }
}

.homepage {
    .two-column-block__columns .two-column-block__left .cta-block {
        max-width: 100%;
        margin-left: 0;
    }
    .two-column-block__columns .two-column-block__right .cta-block {
        max-width: 100%;
        margin-right: 0;
    }
}

.homepage {
    .two-column-block__columns .two-column-block__left .rich-text {
        h2,
        h3,
        h4 {
            margin-left: 0;
        }
    }
}
