
{% load wagtailcore_tags %}

<div class="breadcrumb">
  <a class="breadcrumb__link" href="{% pageurl request.site.root_page %}" aria-label="Link to home page">Home
    <svg class="icon">
      <use xlink:href="#arrow-right" />
    </svg>
  </a>
  {% for page in page.get_ancestors %}
    {% if page.pk is not request.site.root_page.pk %}
      {% if page.is_root == False %}
      <li> <a class="breadcrumb__link" href="{{page.url}}">{{page|truncatechars:15 }}
        <svg class="icon">
          <use xlink:href="#arrow-right" />
        </svg>
      </a></li>
      {% endif %}
    {% endif %}
  {% endfor %}
  <a href="{{page.url}}" class="breadcrumb__link active">{% if page %}{{ page|truncatechars:15 }}{% else %} Search {% endif %}</a>
</div>
