{% load i18n wagtailcore_tags level_navigation tree_navigation %}
{% load static %}


<div class="container">
  <div class="footer__top">
    <div class="footer__header">
      <h3>Ending Violence Against Women</h3>
      <ul class="cta__links">
        <li>
          <a href="/about/contact-us">
            Contact us
            <span>
              <svg class="icon">
                <use xlink:href="#arrow-diagonal" />
              </svg>
            </span>
          </a>
        </li>
        <li>
          <a href="/subscribe">
            Subscribe
            <span>
              <svg class="icon">
                <use xlink:href="#arrow-diagonal" />
              </svg>
          </span>
          </a>
        </li>
      </ul>
    </div>

    {% primary_navigation self css_class="footer__links" %}
    <div>
    </div>
  </div>
  <div class="footer__social">
    {% include 'includes/social.html' %}
  </div>
  <div class ="footer__bottom">
  <div class="footer__legal">
    <ul class="cta__links cta__links--legal">
      <li>
        <a href="/about/privacy-policy">
          Privacy Policy
        </a>
      </li>

      <li>
        <a href="/about/terms-and-conditions">
          Terms and Conditions
        </a>
      </li>
    </ul>

    <p>Restored is a registered company in England &amp; Wales. Registered Company No. 7243226. Registered Charity No. 1136774.</p>
  </div>

  <div class="footer__image">
    <svg class="icon">
      <use xlink:href="#fundraiser-logo" />
    </svg>
  </div>
</div>
</div>
