<div class="form-privacy-footer">
  <p>
    Restored will never pass on your details to third parties for marketing purposes,
    and you can unsubscribe from our communications at any time, either via our
    website or by emailing <a href="mailto:info@restored-uk.org">info@restored-uk.org</a>
  </p>
  <p>
    To find out more about how we look after and use any data you provide us
    then please read our <a href="/privacy-policy">Privacy Policy</a>.
  </p>
</div>

