<div class="heading {% if alignment %}heading--{{ alignment }} {% endif %}">
  <{{ level|default:"h4" }}
    class="{% if text|length < 21 %}title--short-length{% elif text|length < 50 %}title--medium-length{% else %}title--long{%endif %}"
  >
    {{ text }}
  </{{ level|default:"h4" }}>

  {% if subheading %}
  	<p class="subheading">{{ subheading }}</p>
  {% endif %}
</div>