{% load wagtailcore_tags level_navigation tree_navigation %}

<input type="checkbox" id="nav-toggle" class="visually-hidden">
<header role="banner" class="header" aria-label="Primary navigation">
  <div class="desktop-header">
    <div class="desktop-header__container container">
      <div class="header__container-wrapper">
        <a class="header__logo  logo" href="/">
          <span class="visually-hidden">Restored</span>
        </a>
      </div>

      <div class="header__buttons">
        <!-- {% tree_navigation self show_all=True max_depth=1 css_class="tree-nav--desktop" %} -->

       {% load menu_tags %}

       {% main_menu max_levels=3 %}

        <a href="{% url 'search' %}">
          <svg class="icon">
            <use xlink:href="#search" />
          </svg>
        </a>
      </div>
    </div>

    <div class="breadcrumb-bar">
      <div class="breadcrumb-bar__container">
      {% if page.pk is not request.site.root_page.pk %}
        {% include 'includes/breadcrumbs.html' %}
      {% endif %}
      </div>

      <div class="breadcrumb-bar__buttons">
        {% if page.pk is not request.site.root_page.pk %}
          {% include 'includes/share_bar.html' %}
        {% endif %}
        <a class="button" class="breadcrumb-bar-donate" href="/donate" target="_blank">Donate</a>
        <a class="button button--secondary breadcrumb-bar-donate" href="https://www.google.com/" onclick="document.body.innerHTML = ''; document.title = 'Google'; return true;">Exit site</a>
      </div>
    </div>
  </div>

  <div class="menu-bg-overlay"></div>

  <div class="mobile-header">
    <div class="mobile-header__container container">
      <a class="header__logo logo" href="/">
        <span class="visually-hidden">Restored</span>
      </a>

      <label for="nav-toggle" class="nav-toggle">
        <div class="nav-toggle__open">
          <svg class="icon">
            <use xlink:href="#menu" />
          </svg>
        </div>

        <div class="nav-toggle__close">
          <svg class="icon">
            <use xlink:href="#close" />
          </svg>
        </div>
      </label>

      <div class="header__buttons">
        <a class="button" href="/donate" target="_blank">Donate</a>
        <a class="button button--secondary" href="https://www.google.com/" onclick="document.body.innerHTML = ''; document.title = 'Google'; return true;">Exit site</a>
      </div>
    </div>

    <div class="nav--mobile">
      <!-- {% tree_navigation self show_all=True max_depth=1 css_class="tree-nav--mobile" %} -->

      {% main_menu max_levels=3 template="menus/main/mobile_level_1.html" sub_menu_templates="menus/main/mobile_level_2.html, menus/main/mobile_level_3.html" %}


      <div class="nav__buttons">
        <a class="button" href="/donate" target="_blank">Donate</a>
        <a class="button button--secondary" href="https://www.google.com/" onclick="document.body.innerHTML = ''; document.title = 'Google'; return true;">Exit site</a>
        <form class="input__form" action="#" method="GET">
          <input type="text" class="input" name="query" placeholder="Search">
          <button class ="">
            <svg class="icon">
              <use xlink:href="#search" />
            </svg>
          </button>
        </form>
      </div>
    </div>

    <div class="breadcrumb-bar">
      {% include 'includes/share_bar.html' %}
    </div>
  </div>
</header>
