{% load static wagtailimages_tags %}

<meta name="viewport" content="width=device-width,initial-scale=1">

<meta name="description" content="{{ page.share_description|default:settings.settings.ShareMeta.default_share_description }}" />

<meta itemprop="name" content="{{ request.site.site_name }}">

<meta property="og:title" content="{{ page.title }} - {{ request.site.site_name }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:site_name" content="{{ request.site.site_name }}" />


<meta name="twitter:title" content="{{ page.title }} - {{ request.site.site_name }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ settings.settings.SocialAccounts.twitter_handle }}">
<meta name="twitter:creator" content="{{ settings.settings.SocialAccounts.twitter_handle }}">

<meta itemprop="description" content="{{ page.share_description|default:settings.settings.ShareMeta.default_share_description }}">
<meta property="og:description" content="{{ page.share_description|default:settings.settings.ShareMeta.default_share_description }}" />
<meta name="twitter:description" content="{{ page.share_description|default:settings.settings.ShareMeta.default_share_description }}">

{% if page.share_image %}
  {% image page.share_image fill-1200x630 as share_image %}
  <meta itemprop="image" content="{{ page.get_site.root_url }}{{ share_image.url }}">
  <meta property="og:image" content="{{ page.get_site.root_url }}{{ share_image.url}}" />
  <meta name="twitter:image:src" content="{{ page.get_site.root_url }}{{ share_image.url }}">
{% elif settings.settings.ShareMeta.default_share_image %}
  {% image settings.settings.ShareMeta.default_share_image fill-1200x630 as share_image_default %}
  <meta itemprop="image" content="{{ request.build_absolute_uri }}{{ share_image_default.url }}">
  <meta property="og:image" content="{{ request.build_absolute_uri }}{{ share_image_default.url}}" />
  <meta name="twitter:image:src" content="{{ page.get_site.root_url }}{{ share_image_default.url }}">
{% endif %}
