
<ul class="primary">
    {% for page, page_active in root_pages %}
        <li>
            <a href="{{ page.get_absolute_url }}"{% if page_active %} class="active"{% endif %}>
                {{ page.title }}
            </a>
        </li>
    {% endfor %}
</ul>
