<div class ="share-bar">
  <p>Share this page</p>
  <ul>
    <li>
      <a href="https://facebook.com/sharer.php?u={% filter urlencode:"" %}{{ request.build_absolute_uri }}{% endfilter %}"
        class="social_share-links"
        aria-label="Share this on Facebook">
        <svg class="icon">
          <use xlink:href="#facebook-yellow"></use>
        </svg>
      </a>
    </li>

    <li>
      <a href="https://twitter.com/intent/tweet?url={% filter urlencode:"" %}{{ request.build_absolute_uri }}{% endfilter %}&related={% filter urlencode:"" %}{{ social_settings.twitter }}{% endfilter %}"
        class="social_share-links"
        aria-label="Share this on Twitter">
        <svg class="icon">
          <use xlink:href="#twitter-yellow"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
