{% load wagtailcore_tags %}
<div class="block-links">
  <ul>
    {% for related_page in related_links %}
      {% if not related_page.pk == page.pk %}
        {% if not respect_show_in_menus or related_page.show_in_menus %}
          <li><a href="{% pageurl related_page %}" class="box-link button button--outline">{{ related_page.title }}
            <svg class="icon">
              <use xlink:href="#arrow-diagnonal"></use>
            </svg>
              </a>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
</div>

