<ul class="social">
  <li>
    <a href="https://www.facebook.com/Rest0reduk" target="_blank" class="facebook">
      <svg class="icon">
        <use xlink:href="#facebook" />
      </svg>
    </a>
  </li>
  <li>
    <a href="https://twitter.com/Rest0red" target="_blank" class="twitter">
      <svg class="icon">
        <use xlink:href="#twitter" />
      </svg>
    </a>
  </li>
  <li>
    <a href="https://www.youtube.com/user/RestoredR" target="_blank" class="youtube">
      <svg class="icon">
        <use xlink:href="#youtube" />
      </svg>
    </a>
  </li>
</ul>
