{% load wagtailcore_tags %}

{% if page_list %}
    <ul class="{{ css_class }}">
        {% for page, page_active in page_list %}
        <li>
          <a href="{% pageurl page %}"{% if page_active %} class="active"{% endif %}>
            {{ page.title }}
          </a>
        </li>
        {% endfor %}
    </ul>
{% endif %}
