{% load tree_navigation %}
{% load wagtailcore_tags %}


{% comment %}
  This template is the tree navigation package. It is relatively complex as it's building out a
  tree of nested lists based on a flat array of nodes with metadata about when nodes should be
  opened and closed. This makes the executuion very performant, but requires careful reading to
  understand what is happening.
{% endcomment %}


{% load tree_navigation %}
{% load wagtailcore_tags %}

{% if page_tree %}
  <nav class="tree-nav {{ css_class }}">

    {% comment %}
      Loop through all items in a flat array, opening up new lists for nav children on the way
    {% endcomment %}
    {% for item, info in page_tree %}

      {% if info.open %}
        {% comment %}
          The current item is the first item in a list of nav or subnav items children, so we need
          to open a new list, but we also need to decide whether a toggle needs to be added too.
        {% endcomment %}
        {% if info.level == 0 %}
          {% comment %}
            The root element of the nav isn't a subtree of anything
          {% endcomment %}
          <ul class="tree-nav__root-tree">
        {% else %}
          {% comment %}
            The current item isn't the root element of the navigation and is the first item
            in a new list. First, we add a button that will open and close the new list and then
            start the new list.
          {% endcomment %}
          <button
            class="tree-nav__toggle"
            aria-controls="tree-nav__sub-tree--{{ css_class }}-{{ forloop.counter }}"
            aria-expanded="true"
            aria-selected="false"
            aria-label="Toggle submenu"
            tabindex="0"
          >
            <svg class="icon tree-nav__toggle-icon">
              <use xlink:href="#chevron-down" />
            </svg>
          </button>
          <ul
            class="tree-nav__sub-tree"
            id="tree-nav__sub-tree--{{ css_class }}-{{ forloop.counter }}"
            aria-hidden="true"
          >
        {% endif %}

      {% else %}
        {% comment %} Close list item opened just below in a previous iteration {% endcomment %}
        </li>
      {% endif %}

      <li class="tree-nav__item {% if info.active %}tree-nav__item--active{% endif %}">

        <a
          class="tree-nav__link"
          href="{% pageurl item %}"
        >
          {{ item }} {{ item.settings.menu_button }}
        </a>

      {% for close in info.close %}
        </li></ul>
      {% endfor %}
    {% endfor %}

  </nav>
{% endif %}

