<a
  href="{{ self.link.get_url }}"
  class="box-link button button--outline"
  {% if self.link.file %} download {% endif %}
  {% if self.link.new_window %}target="_blank"{% endif %}
  >
  {{ self.link_text }}
  <div class="box-link__icon">
    <svg class="icon">
      <use xlink:href="#arrow-diagonal"></use>
    </svg>
  </div>
</a>
