<div class="button-link-block">
  <a
    href="{{ self.link.get_url }}"
    class="{% if self.style == 'styled-link' %} styled-link {% else %}button{% endif %}"
    {% if self.link.file %} download {% endif %}
    {% if self.link.new_window %}target="_blank"{% endif %}
    >
    {{ self.link_text }}

    {% if self.style == 'styled-link' %}
	    <svg width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M8.73563 6.83789C9.08719 7.2041 9.08719 7.79883 8.73563 8.16504L3.33563 13.79C2.98407 14.1562 2.41313 14.1562 2.06157 13.79C1.71001 13.4238 1.71001 12.8291 2.06157 12.4629L6.82594 7.5L2.06438 2.53711C1.71282 2.1709 1.71282 1.57617 2.06438 1.20996C2.41594 0.84375 2.98688 0.84375 3.33844 1.20996L8.73845 6.83496L8.73563 6.83789Z" fill="#fff"/>
		</svg>
	{% endif %}

  </a>
</div>
