{% load wagtailcore_tags %}
<div class="block image-menu-block">
  <div class="image-menu-block__left">
    <h4>{{ self.title }}</h4>
    {{ self.description|richtext }}
		<a href="{{ self.link.get_url }}" {% if self.link.new_window %}target="_blank"{% endif %} class="button">{{ self.link_text }}</a>

  </div>
  <div class="image-menu-block__right">
    {% for block in self.images %}
      {% include_block block %}
    {% endfor %}
  </div>
</div>
