{% load i18n wagtailimages_tags %}

{% image self.background_image width-1000 as img %}
<div class="block image-with-link-block">
  <div class="image-with-link-block__background {% if self.disable_grayscale %}disable-grayscale{% endif %}" style="background:url({{ img.url }}) center center/cover"></div>
  {% with link=self.link.get_url %}
    {% if link %}
      <div class="image-with-link-block__container">
        <a class="button" href="{{ link }}" {% if self.link.new_window %}target="_blank"{% endif %}>
         <svg class="icon">
            <use xlink:href="#arrow-right"></use>
          </svg>
        </a>
        <a class="image-with-link-block__link" href="{{ link }}" {% if self.link.new_window %}target="_blank"{% endif %}>{{ self.link_text|default:"..." }}</a>
      </div>
    {% endif %}
  {% endwith %}
</div>
