{% load i18n wagtailimages_tags %}

<div class="block image-block">
  {% with link=self.link.get_url %}
    {% if link %}
      <a href="{{ link }}" aria-label="{% trans "Link to related page" %}" {% if self.link.new_window %} target="_blank"{% endif %}>
    {% endif %}
        <figure>
          {% if self.disable_grayscale %}
            {% image self.image width-1200 class="disable-grayscale" %}
          {% else %}
            {% image self.image width-1200 %}
          {% endif %}

          {% if self.caption %}
            <figcaption class="image-block__caption">
              {{ self.caption }}
            </figcaption>
          {% endif %}
        </figure>
    {% if link %}
      </a>
    {% endif %}
  {% endwith %}
</div>
