{% load wagtailcore_tags %}
{% load i18n wagtailimages_tags %}

<div class="yellow-heading">{{ self.heading_text }}</div>
<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    {% for block in self.slides %}
      <div class="swiper-slide">
        <div class="slide">
          <div class="slide_image">
            {% image block.image width-1200 class="disable-grayscale" %}
          </div>
          <div class="slide_content">
             <h3>{{ block.title }}</h3>
             {{ block.text }}
             <a class="styled-link" href="{{ block.link.get_url }}">{{ block.link_text }} <svg width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M8.73563 6.83789C9.08719 7.2041 9.08719 7.79883 8.73563 8.16504L3.33563 13.79C2.98407 14.1562 2.41313 14.1562 2.06157 13.79C1.71001 13.4238 1.71001 12.8291 2.06157 12.4629L6.82594 7.5L2.06438 2.53711C1.71282 2.1709 1.71282 1.57617 2.06438 1.20996C2.41594 0.84375 2.98688 0.84375 3.33844 1.20996L8.73845 6.83496L8.73563 6.83789Z" fill="#fff"></path>
    </svg></a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev">
    <svg width="29" height="49" viewBox="0 0 29 49" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.851862 26.3001C-0.280951 25.1201 -0.280951 23.2038 0.851862 22.0238L18.2519 3.89877C19.3847 2.71875 21.2244 2.71875 22.3572 3.89877C23.49 5.07878 23.49 6.99512 22.3572 8.17513L7.0053 24.1667L22.3481 40.1582C23.4809 41.3382 23.4809 43.2546 22.3481 44.4346C21.2153 45.6146 19.3756 45.6146 18.2428 44.4346L0.8428 26.3096L0.851862 26.3001Z" fill="#FFB401"/>
    </svg>
  </div>
  
  <div class="swiper-button-next">
    <svg width="29" height="49" viewBox="0 0 29 49" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M28.1481 22.0332C29.281 23.2132 29.281 25.1295 28.1481 26.3095L10.7481 44.4345C9.61532 45.6146 7.77564 45.6146 6.64282 44.4345C5.51001 43.2545 5.51001 41.3382 6.64282 40.1582L21.9947 24.1666L6.65188 8.17511C5.51907 6.9951 5.51907 5.07876 6.65188 3.89874C7.7847 2.71873 9.62438 2.71873 10.7572 3.89874L28.1572 22.0237L28.1481 22.0332Z" fill="#FFB401"/>
      </svg>
  </div>

</div>
