{% load wagtailcore_tags %}

<div class="yellow-heading">{{ self.heading_text }}</div>

<div class="block three-column-block">
  <div class=" three-column-block__columns">
    <div class="three-column-block__column three-column-block__left">
      {% for block in self.column_one %}
        {% include_block block %}
      {% endfor %}
    </div>
    <div class="three-column-block__column three-column-block__right">
      {% for block in self.column_two %}
        {% include_block block %}
      {% endfor %}
    </div>
    <div class="three-column-block__column three-column-block__right">
      {% for block in self.column_three %}
        {% include_block block %}
      {% endfor %}
    </div>
  </div>
</div>
