{% load wagtailcore_tags %}

{% if self.heading_text %}<h2>{{ self.heading_text }}</h2>{% endif %}
<div class="block two-column-block">
  <div class="two-column-block__columns">
    <div class="two-column-block__left">
      {% for block in self.left_column %}
        {% include_block block %}
      {% endfor %}
    </div>
    <div class="two-column-block__right">
      {% for block in self.right_column %}
        {% include_block block %}
      {% endfor %}
    </div>
  </div>
</div>
