
{% load pagination_links url_tags %}

<div class="pagination {% if top %}top{% endif %}">

    {% get_pagination_links paginator search_results as pagination_links %}
    {% if search_results.has_previous %}
    <a href="?{% paginate_url search_results.previous_page_number %}" class="button"> Previous</a>
    {% endif %}
    <ul class="pagination__numbers">
        {% for page_num in pagination_links %}
            {% if page_num.is_current %}
                <li class="current">{{ page_num.number }}</li>
            {% elif page_num.is_filler %}
                <li class="filler">—</li>
            {% else %}
                <li><a href="?{% paginate_url  page_num.number %}">{{ page_num.number }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    {% if search_results.has_next %}
    <a href="?{% paginate_url search_results.next_page_number %}" class="button"> Next</a>
    {% endif %}
</div>
