{% extends "base.html" %}
{% load wagtailcore_tags %}


{% block main %}
  <input type="checkbox" id="search-toggle" class="visually-hidden">

  <div class="container search">
    <h1>Search</h1>

    <div class="search__form">
      <form method="GET" class="search__input" action="{% url 'search' %}">
        <input type="text" name="q" value="{{ search_query }}" placeholder="Search here" autofocus>
        <button type="submit">  <svg class="icon">
          <use xlink:href="#search" />
        </svg></button>
      </form>

      <div class ="search__filter">
        <label for="search-toggle" class="search__filter-dropdown-button">Filter
          <svg class="icon">
            <use xlink:href="#chevron-down" />
          </svg>
        </label>

        <ul class="search__filter-dropdown">
          <li {% if not content_type_choice %}class="active"{% endif %}>
            <a href="?q={{ search_query }}&page={{ page_num }}">All</a>
          </li>

          {% for content_type in content_types %}
            {% comment %}Need to use the add filter to convert the choice to an int{% endcomment %}
            <li {% if content_type_choice|add:'0' == content_type.id %}class="active"{% endif %}>
              <a href="?q={{ search_query }}&page={{ page_num }}&content_type={{ content_type.id }}">
                {% if content_type.name == "news page" %}
                  News posts
                {% elif content_type.name == "resource" %}
                  Resources
                {% elif content_type.name == "standard page" %}
                  Pages
                {% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    {% if search_results %}
      <ul class="results">
        {% for result in search_results %}
          <li class="results__item">
            <div class="results__item-text">
              {% if result.content_type.name == "news page" %}
                <a class="results__title h3" href="{% pageurl result %}">{{ result.title }}</a>
                {% if result.specific.archived %}<span class="archived">Archived</span>{% endif %}
              {% elif result.content_type.name == "standard page" %}
                <a class="results__title h3" href="{% pageurl result %}">{{ result.title }}</a>
              {% elif result.content_type.name == "resource page" %}
                <a class="results__title h3" href="{% pageurl result %}">{{ result.title }}</a>
              {% else %}
                <a class="results__title h3" href="{{ result.get_absolute_url }}">{{ result.title }}</a>
              {% endif %}

              {% if result.search_description %}
                <p class="results__subtitle">  {{ result.search_description|safe }} </p>
              {% endif %}

              {% if result.content_type.name == "news page" %}
                <p class="results__meta">News post &mdash; Created: {{ result.first_published_at|date:"j M Y" }}</p>
              {% elif result.content_type.name == "standard page" %}
                <p class="results__meta">Page{% if result.last_published_at %} Updated: {{ result.last_published_at|date:"j M Y" }}{% else %} Created: {{ result.first_published_at|date:"j M Y" }}{% endif %}</p>
              {% elif result.content_type.name == "resource page" %}
                <p class="results__meta">Resource &mdash; Created: {{ result.first_published_at|date:"j M Y" }}</p>
              {% endif %}
            </div>
            <a class="button" href="{% pageurl result %}">View</a>
          </li>
        {% endfor %}
      </ul>

      {% include "search/pagination.html" %}
    {% elif search_query %}
      <p>No results found.</p>
    {% else %}
      <p>Please enter your search terms above.</p>
    {% endif %}
  </div>
{% endblock main %}
