{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block sidenav %}
<h2 class="first">News categories:</h2>
<ul>
    {% for i in news_categories %}
        <li><a href="{% if page.content_type|cut:' ' == 'newspage' %}{% pageurl page.get_parent %}{% endif %}?category={{ i.slug }}"{% if i == category or i == object.category %} class="active"{% endif %}>{{ i.title }}</a></li>
    {% endfor %}
</ul>
{% endblock sidenav %}
