{% extends "news/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block main %}
<section class="post page-article container">

    
      <h1 class="h2"><a class="title" href="{% pageurl page %}">{{ page.title }}</a></h1>
   
      {% if page.image %}
          {% image page.image fill-620x350 %}
      {% endif %}
      <div class="main-post-content">
        {% include_block page.content %}
      </div>

    <div class="meta">
     <div class="post-date">{{ page.first_published_at|date:"d F Y" }}</div>

    <div class="category">{{ page.category }}</div>

    {% with topics=page.topic.all %}
      {% if topics %}
        {% for topic in topics %}
            <div class="topic">{{ topic.title }}</div>
        {% endfor %}
      {% endif %}
  {% endwith %}
</div>

</section>


{% endblock main %}

{% block sidebar_related %}
  {% with related_links=page.related_by_topic %}
    {% if related_links %}
      <h4 class="sidebar__header">Related news</h4>
      {% include "includes/sidebar_related_links.html" with related_links=related_links %}
    {% endif %}
  {% endwith %}
{% endblock %}

{% block sidebar_content %}
{% include_block page.sidebar_content %}
<div class="sidebar__meta">
  {% if page.show_sidebar_metadata %}
    <h5>Posted</h5>
    <p>{{ page.first_published_at|date:"d F Y" }}</p>
    {% if page.author.get_full_name %}
      <h5>Author</h5>
      <p>{{ page.author.get_full_name }}</p>
    {% endif %}
  {% endif %}
  <a class="button" href="{{ self.get_parent.get_url }}">Back to {{ self.get_parent.title|lower }}</a>
</div>

{% endblock sidebar_content %}
