{% extends "resources/base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block title %}{% if category %}{{ category.title }}{% elif region %}{{ region.title }}{% elif country.title %}{{ country }}{% elif topic %}{{ topic.title }}{% else %}News{% endif %} - {{ block.super }}{% endblock %}

{% block main %}
  <input type="checkbox" id="search-toggle" class="visually-hidden" {% if filter.data.topic %}checked{% endif %}>

  <div class="container search">
    {% block categorytitle %}
      <h1 class="category-title">
        {{  page.title  }}
      </h1>
    {% endblock %}

    <div>
      <ul class="news__tabs">
        <li {% if not filter.data.category %}class="active"{% endif %}>
          <a href="?">All</a>
        </li>
        {% for category in news_categories %}
          <li {% if category.slug in filter.data.category %}class="active"{% endif %}>
            <a href="?category={{ category.slug }}">{{ category.title }}</a>
          </li>
        {% endfor %}
      </ul>
      <div class="search__form">
        <form method="GET" class="search__input" action="">
          <input type="text" name="search" value="{{ search_query }}" placeholder="Search here">
          <button type="submit">
            <svg class="icon">
              <use xlink:href="#search" />
            </svg>
          </button>
        </form>

        <form method="get" class="filter__form" onsubmit="this.form.submit()">
            <input type="hidden" name="category" value="{{ filter.data.category }}">
            <label for="search-toggle" class="">
              <select class="filter__form-select" name="topic" autocomplete="off">
                <option selected disabled hidden value>Filter</option>
                <option value="">All topics</option>
                {% for topic in all_topics %}
                  <option value="{{ topic.slug }}" {% if topic.slug in filter.data.topic %}selected{% endif %}>{{ topic.title }}</option>
                {% endfor %}
              </select>
              <svg class="icon tree-nav__toggle-icon">
                <use xlink:href="#chevron-down" />
              </svg>
            </label>
            <input type="submit" class="button" id="filter__input" value="Filter">
        </form>
      </div>
    </div>

    <ul class="results">
      {% for i in results %}
        <li class="results__item">
          <div class="results__item-text">
            <a class="esults__title h3" href="{% pageurl i %}">{{ i.title }}</a>
            <p class="results__subtitle">
                {% if i.teaser %}
                    {{ i.teaser|linebreaksbr }}
                {% else %}
                    {{ i.content|striptags|truncatewords:"50" }}
                {% endif %}
                <br>
            </p>
            <p class="results__meta"><span>{{ i.category }} | </span>{{ i.first_published_at|date:"d F Y" }} {% if i.author.get_full_name %} | <span>{{ i.author.get_full_name }}</span> {% endif %}</p>
          </div>
          <a class="button" href="{% pageurl i %}">View</a>
        </li>
      {% endfor %}
    </ul>

    {% if results %}
      {% include "includes/pagination.html" %}
    {% endif %}
  </div>
{% endblock main %}

{% block extra_scripts %}
{{block.super}}
<script src="{% static 'src/js/filter_button.js' %}"></script>
{% endblock extra_scripts %}
