{% extends "base.html" %}


{% block sidenav %}
<h2 class="first">Resources for:</h2>
<ul>
    {% for i in topics %}
        <li><a href="{% url 'resources:resource-list-topic' topic=i.slug %}"{% if i == topic %} class="active"{% endif %}>{{ i }}</a></li>
    {% endfor %}
</ul>
{% endblock sidenav %}
