{% extends "resources/base.html" %}


{% block main %}
<section class="post">
    <h1><a class="title" href="{{ object.get_absolute_url }}">{{ object }}</a></h1>

    <a class="more top" href="{% url 'resources:resource-list' %}">Back to resources</a>

    <p>Click below to download {{ object }}. If you would like to receive a printed copy please fill in your address below. At the moment we can only post to UK addresses, if you are outside the UK please send us an <a href="mailto:info@restoredrelationships.org">email</a> with your details and we will contact you.</p>

    {% if object.file_info %}
        <p><a class="download-button" href="{{ object.file.url }}" download="{{ object.filename|urlencode }}" onclick="_gaq.push(['_trackEvent', 'Download', '{{ object.resource_type|escapejs }}', '{{ object.title|escapejs }} - {{ object.language|escapejs }} - {{ object.file_info|escapejs }}']);" target="_blank">Download - {{ object.file_info }}</a></p>
    {% else %}
        <p><a class="download-button" href="{{ object.file.url }}" download="{{ object.filename|urlencode }}" onclick="_gaq.push(['_trackEvent', 'Download', '{{ object.resource_type|escapejs }}', '{{ object.title|escapejs }} - {{ object.language|escapejs }}']);" target="_blank">Download</a></p>
    {% endif %}

    <p>We would love to hear from you about how you have used the resource. Please email your feedback <a href="mailto:info@restoredrelationships.org">here</a>.</p>


    <h2>Request Printed Copy</h2>

    <form class="user-form" method="POST" action="">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">Send</button>
    </form>

    <a class="more bottom" href="{% url 'resources:resource-list' %}">Back to resources</a>
</section>
{% endblock main %}
