{% extends "resources/base.html" %}

{% block main %}
<div class="container">
  <h4>Thankyou for your interest.</h4>
  <p>Sorry there was a small problem with your request:</p>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">Get Resource</button>
  </form>
</div>
{% endblock %}
