{% extends "resources/base.html" %}


{% block main %}
<section class="post">
    <h1><a class="title" href="{{ object.get_absolute_url }}">{{ object }}</a></h1>

    <a class="more top" href="{% url 'resources:resource-list' %}">Back to resources</a>

    <p>Please sign up to access {{ object }}. We will contact you at a later date to see how you used the pack. Once you have completed the information you will be directed to the download page.</p>

    <form class="user-form" method="POST" action="">
        {% csrf_token %}

        {{ form.as_p }}

        <p>Restored will not pass on your details to other organisations. For further details see our <a href="/about-us/privacypolicy/" target="_blank">privacy statement</a>.</p>

        <button type="submit">Send</button>
    </form>

    <a class="more bottom" href="{% url 'resources:resource-list' %}">Back to resources</a>
</section>
{% endblock main %}
