{% extends "resources/base.html" %}
{% load wagtailcore_tags static %}


{% block main %}
  <input type="checkbox" id="search-toggle" class="visually-hidden" {% if filter.data.topic %}checked{% endif %}>

  <div class="container search">
    <h1> Resources</h1>

    {% if topic or location %}
      <h2 class="category-title">{{ topic }}{{ location }}</h2>
    {% endif %}

    <div class="search__form">
      <form method="GET" class="search__input" action="">
        <input type="text" name="search" value="{{ search_query }}" placeholder="Search here">
        <button type="submit">
            <svg class="icon">
              <use xlink:href="#search" />
            </svg>
          </button>
      </form>

      <form method="get" class="filter__form" onsubmit="this.form.submit()" >
          <input type="hidden" name="category" value="{{ filter.data.category }}">
          <label for="search-toggle" class="">
            <select class="filter__form-select"  name="topic" autocomplete="off" >
              <option value="">All topics</option>
              {% for topic in all_topics %}
                <option value="{{ topic.slug }}" {% if topic.slug in filter.data.topic %}selected{% endif %}>{{ topic.title }}</option>
              {% endfor %}
            </select>

            <svg class="icon tree-nav__toggle-icon">
              <use xlink:href="#chevron-down" />
            </svg>
          </label>

          <input type="submit" class="button" id="filter__input" value="Filter">
      </form>
    </div>

    <ul class="results">
      {% for resourcepage in results %}
        <li class="results__item">
          <div class="results__item-text">
            <a class="results__title h3" href="{% pageurl resourcepage %}">{{ resourcepage.title }}</a>
              <p class="results__subtitle">
                {{ resourcepage.content|striptags|truncatewords:"50" }}
              </p>
            <span class="results__meta">{{ resourcepage.get_resource_type_display}} | Added {{ resourcepage.first_published_at|date:"d M Y" }}</span>
          </div>
          <a class="button" href='{% pageurl resourcepage %}'>View</a>
        </li>
      {% endfor %}
    </ul>

    {% if results %}
      {% include "includes/pagination.html" %}
    {% endif %}
  </div>
{% endblock main %}

{% block extra_scripts %}
{{block.super}}
<script src="{% static 'src/js/filter_button.js' %}"></script>
{% endblock extra_scripts %}