{% extends "resources/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block main %}
<section class="post page-article container">
    <h1 class="h2"><a class="title" href="{{ self.get_absolute_url }}">{{ self.title }}</a></h1>
    {{ self.content|safe }}
      <div class="get-resource">
        <h4>Access the resource</h4>
        {# Different types of resources in `apps/resources/choices.py` #}
        {% if self.resource_type == resource_choices.PUBLIC_DOWNLOAD or self.resource_type == resource_choices.FREE_DOWNLOAD %}
          {% if self.free_resources %}
            <form action="{% url 'resources:download-request' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="resource_page" value="{{ self.pk}}">
              <label class="get-resource__file">
                <select name="file" placeholder="place">
                  {% for resourcefile in self.free_resources.all %}
                    <option value="{{ resourcefile.file.pk }}">
                      {% if resourcefile.file.language and not resourcefile.file.language.title in resourcefile.file.title %}
                        {{ resourcefile.file.title }} ({{ resourcefile.file.language.title }})
                      {% elif resourcefile.file.title %}
                        {{ resourcefile.file.title }}
                      {% else %}
                        {{ resourcefile.file }}
                      {% endif %}
                    </option>
                  {% endfor %}
                </select>
                <svg class="icon">
                  <use xlink:href="#chevron-down" />
                </svg>
              </label>
            {% if self.resource_type == resource_choices.PUBLIC_DOWNLOAD %}
              <p>Thank you so much for downloading this resource.
              We love to be generous with what we have, but if you would like to contribute
              financially to the work that we do and enable us to give more away,
              you can donate <a href="/donate">here</a>.</p>
            {% elif self.resource_type == resource_choices.FREE_DOWNLOAD %}
              <p>
              Fill out the form below, and a PDF of this resource will be sent to you via email. We'd also love to keep in touch - tick the box if you're happy to hear from us!
              </p>
              <label><input type="text" name="first_name" placeholder="First Name" id="id_first_name"></label>
              <label><input type="text" name="surname" placeholder="Surname" id="id_surname"></label>
              <label><input type="email" name="email" required="" placeholder="Your email address" /></label>
              <label>
                <input name="subscribe_me" type="checkbox" />
                I'd like to receive email updates from Restored, with news, inspiring stories and more ways I can get involved.
              </label>
            {% endif %}
              <button type="submit">Get Access</button>
              {% include "includes/form_privacy_footer.html" %}
            </form>
          {% else %}
            {# it's  free resource, but no free files are listed.
               What should we do? Link to a request resource form or somehing?
             #}
          {% endif %}
        {% elif self.resource_type == resource_choices.PAID_DOWNLOAD and self.external_url %}
          <p>
            Please purchase this resource at our online store.
            Once you complete the purchase, the download URL will be sent to your email
          </p>
          <a href="{{ self.external_url }}" class="button">Buy Online</a>
        {% elif self.resource_type == resource_choices.PAID_NON_DIGITAL and self.external_url %}
          <p>
            You can purchase this resource at our online store.
          </p>
          <a href="{{ self.external_url }}" class="button">Buy Online</a>
        {% elif self.resource_type == resource_choices.EXTERNAL_LINK and self.external_url %}
          <p>
            This resource is hosted on an external site.
          </p>
          <a href="{{ self.external_url }}" class="button">Access Resource</a>
       {% endif %}
      </div>

  </section>
{% endblock main %}

{% block sidebar_related %}
  <h4 class="sidebar__header">Related resources</h4>
  {% include "includes/sidebar_related_links.html" with related_links=page.related_by_topic %}
{% endblock %}

{% block sidebar_content %}
  {% include_block page.sidebar_content %}
  <div class="sidebar__meta">
    {% if page.show_sidebar_metadata %}
      <h5>Type</h5>
      <p>{{ self.resource_medium }}</p>
      <h5> Posted </h5>
      <p>{{ self.go_live_at|default:self.first_published_at|date:"d M Y" }}</p>
      {% if self.author %}
        <h5>Author</h5>
        <p>{{ self.author.get_full_name|default:self.author }}</p>
      {% endif %}
    {% endif %}
    <a class="button" href="{{ self.get_parent.get_url }}">Back to {{ self.get_parent.title|lower }}</a>
  </div>

{% endblock sidebar_content %}
