{% load static %}
{% load wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load tree_navigation %}
{% load level_navigation %}

<!DOCTYPE html>
<html lang="en">
  <head>
      <title>{% block title %}{{ request.site.site_name }}{% endblock %}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">

      <link href="{% static 'dist/css/styles.css' %}?v=1" rel="stylesheet">
      {% include 'includes/meta.html' %}
      {% if request.get_host == "www.restoredrelationships.org" %}
          <script>
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-15947368-1'], ['_trackPageview']);
          </script>
      {% endif %}
      {% if request.get_host == "www.restoredrelationships.org" %}
          {% if request.is_secure %}
              <script src="https://ssl.google-analytics.com/ga.js" async></script>
          {% else %}
              <script src="http://www.google-analytics.com/ga.js" async></script>
          {% endif %}
      {% endif %}
      
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PSZQMB4');</script>
      <!-- End Google Tag Manager -->
      {{ settings.settings.HeaderHTML.html|safe }}
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
      <link rel="icon" href="/static/src/img/favicon.ico" />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PSZQMB4"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% wagtailuserbar %}

    <div id="sprite" style="position: absolute; width: 0; height: 0; overflow: hidden;">
      {% include 'includes/sprite.html' %}
    </div>

    {% if DEMO_SITE %}
      <div class="demo-announcement">
        <div class="container">This site is in development. Any changes made here will not be transferred to the production build.</div>
      </div>
    {% endif %}

    {% block content %}
      <div class="content-wrapper">
        <div class="content-wrapper__content">
          <header class="header">
            {% include 'includes/header.html' %}
          </header>
          {% block top_banner %}
            {% if page.header_image %}
            {% image page.header_image height-884 as img %}
            <div class="top-banner">
              <div class="top-banner__image {% if page.header_image_disable_grayscale %}disable-grayscale{% endif %}" style="background:url({{ img.url }}) center center/cover"></div>
            </div>
            {% endif %}
          {% endblock %}
          <main class="page-main">
            {% block sidebar %}
              {% if page.show_sidebar%}
                <aside class="page-sidebar">
                  {% if page.show_sidebar_auto_related %}
                    {% block sidebar_related %}{% endblock %}
                  {% endif %}
                  {% block sidebar_content %}{% endblock %}
                  {% block social_share %}{% endblock %}
                </aside>
              {% endif %}
            {% endblock %}

            {% block main %}{% endblock %}
          </main>
        </div>
      </div>
    {% endblock content %}

    <footer class="footer">
      {% include 'includes/footer.html' %}
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    {% block extra_scripts %}
      <script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'vendor/js/restored.js' %}"></script>
      <script src="{% static 'src/js/tree_navigation.js' %}"></script>
      <script src="{% static 'src/js/exitsite.js' %}"></script>
      <script src="{% static 'src/js/sliders.js' %}"></script>
    {% endblock extra_scripts %}
    {{ settings.settings.FooterHTML.html|safe }}
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
    
    <script>
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#000"
        },
        "button": {
          "background": "#ffb401"
        }
      },
      "content": {
        "href": "/about/privacy-policy"
      }
    });
    </script>
  </body>
</html>
