button,
input[type='submit'] {
    appearance: none !important;
    font-family: $base-font !important;
    border: none !important;
    cursor: pointer;
    background: inherit;
    font-weight: 600;
}

button,
.button {
    display: inline-flex;
    padding: 0.5rem 1rem;
    line-height: 2rem;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    background: $color-primary;
    min-height: 3rem;
    align-items: center;

    &:hover,
    &:focus {
        background: darken($color-primary, 5%);
    }

    &.button--secondary {
        background: $color-red;
        color: $color-white;

        &:hover,
        &:focus {
            background: darken($color-red, 5%);
        }
    }

    &.button--outline {
        background: none;
        border-bottom: 0.125rem solid $color-secondary;
        line-height: 1.75rem;
        color: $color-black !important;
        padding: 1rem 0.5rem 1rem 1rem;
        font-weight: 400;
        font-size: 1.125rem;
        width: 100%;
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:hover,
        &:focus {
            background: $color-primary;
            color: $color-white;
        }
        .icon {
            opacity: 55%;
            width: 1rem;
            height: 1rem;
        }
    }
}
.styled-link{
    color: $color-black;
    border-bottom: 3px $color-primary solid;
    font-weight: 600;
    svg path{
        fill: $color-black;
    }
    &:hover{
        color: $color-primary;
        svg path{
            fill: $color-primary;
        }
    }
}
.top-banner{
    .styled-link{
        color: $color-white;
        svg path{
            fill: $color-white;
        }
    }
}