.logo {
    display: inline-block;
    width: 12.5rem;
    height: 0;
    vertical-align: top;
    padding-bottom: 2.5rem;
    background: url(../img/restored.png) left center/contain no-repeat;

    &.header__logo {
        width: 6.75rem;

        @include mobile {
            width: 9.375rem;
        }
    }
}
