img,
video {
    width: 100%;
    height: auto;
    vertical-align: top;
}

img {
    @include grayscale-image;
    transition: 1s;
}

.video__container,
.rich-text .responsive-object {
    position: relative;
    max-width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;

    video,
    iframe,
    object,
    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}

figure {
    position: relative;
    margin: 3rem 0;

    img {
        @include grayscale-image;

        max-width: calc(100% + 3rem);
        width: auto;
        height: 100%;
        display: block;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        object-fit: cover;
        max-height: 30rem;

        @include desktop {
            max-width: 100%;
            margin: 0 auto;
        }
    }

    figcaption {
        display: block;
        vertical-align: top;
        padding: 0.75rem;
        background: $color-primary;
        color: $color-black;
        font-size: 0.875rem;
    }
}

.image-block {
    width: 100%;
    max-width: 70rem;
}

iframe {
    max-width: 70rem;
    width: calc(100% + 3rem);
    margin-left: -1.5rem;
    margin-right: -1.5rem;

    @include desktop {
        margin: 0;
        width: 100%;
    }
}

.richtext-image {
    margin: 1.5rem auto;
    width: 100%;
    height: auto;

    &.full-width {
        display: block;

        &:first-child {
            margin: 0 0 2.5rem;
        }
    }

    @include desktop {
        margin: 0 auto 2.5rem;

        &.left,
        &.right {
            width: 45%;
            height: auto;

            &:first-of-type {
                margin-top: 0;
            }
        }

        &.left {
            float: left;
            margin-right: 5%;
        }

        &.right {
            float: right;
            margin-left: 5%;
        }
    }
}
