.share-bar {
    display: flex;
    align-items: center;
    margin-right: 1rem;

    ul {
        @include unstyled-list;

        display: flex;
    }

    .icon {
        height: 1rem;
        width: 1rem;
        margin-left: 1rem;
    }

    p {
        margin: 0 0.5rem 0 0;
    }
}
