.top-banner {
    position: relative;
    min-height: 20rem;
    @include desktop {
        max-height: 27.625rem;
    }    
    margin: 0;
    width: 100%;

    img {
        max-height: 27.625rem;
        object-fit: cover;
    }

    .top-banner__image {
        @include grayscale-image;

        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    &.homepage {
        min-height: 30rem;
        margin: 0;
        padding: 2rem;
        
        @include mobile {
            min-height: 40rem;
        }

        @include desktop {
            padding: 4.5rem 2.5rem;
        }

        // @include desktop-large {
        //     padding: 9rem 5rem;
        // }
    }

    .top-banner__container{
        max-width: $width-main;
        margin: 0 auto;
    }

    h1 {
        position: relative;
        z-index: 1;
        color: $color-white;
        margin-bottom: 2rem;
        pointer-events: none;
        width: 100%;
        max-width: 65rem;
        font-size: 3.5rem;
        font-weight: 500;
        margin-left: 0;

        @include mobile {
            font-size: 6.5rem;
        }
    }

    .top-banner__buttons {
        position: relative;
        z-index: 1;
        @include desktop {
            display: flex;
            align-items: center;
        }
        max-width: $width-main;
        margin: 1rem auto;
        

        .block-button {
            pointer-events: all;
        }
        .block-button + .block-button {
            margin-top: 0.5em;
            @include desktop {
                margin-top: 0;
                margin-left: 1rem;
            }
        }
    }
}
