.breadcrumb-bar {
    @include unstyled-list;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
    height: 3.5rem;

    &.fixed-top {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2;
    }

    @include desktop {
        padding: 0.5rem 2.5rem;
    }
}

.breadcrumb {
    display: inline-flex;

    .icon {
        height: 0.625rem;
        width: 0.625rem;
        margin: 0 0.5rem;
    }
}

.breadcrumb__link {
    opacity: 55%;
    font-weight: 600;
    text-align: center;

    &.active {
        opacity: 100%;
    }
}

.breadcrumb-bar__buttons {
    display: flex;
    align-items: center;
    .button {
        min-height: 2rem;
        padding: 0 1rem;
    }

    .button + .button {
        margin-left: 1rem;
    }
}
