{% load menu_tags %}


<ul class="nav navbar-nav">
{% for item in menu_items %}
    <li class="nav-item nav-item-top {{ item.active_class }}">
        <a class="top-nav-item" href="{{ item.href }}">{{ item.text }}
            {% if item.has_children_in_menu %}
            	<svg width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
    				<path d="M8.16211 7.23559C7.7959 7.58715 7.20117 7.58715 6.83496 7.23559L1.20996 1.83559C0.84375 1.48402 0.84375 0.913086 1.20996 0.561523C1.57617 0.209961 2.1709 0.209961 2.53711 0.561523L7.5 5.3259L12.4629 0.564336C12.8291 0.212773 13.4238 0.212773 13.79 0.564336C14.1562 0.915898 14.1562 1.48684 13.79 1.8384L8.16504 7.2384L8.16211 7.23559Z" fill="black"/>
    			</svg>
            {% endif %}
        </a>
        {% if item.has_children_in_menu %}
            <div class="dropdown-menu {% if item.submenu_cols != '1' %}megamenu{% endif %}">

                {% for sub_item in item.sub_menu.items %}
                    Test {{ sub_item.text }}
                {% endfor %}

                {% sub_menu item %}

            </div>
        {% endif %}
    </li>
{% endfor %}
</ul>