{% load menu_tags %}

    {% for sub_item in menu_items %}


        {% if item.submenu_cols == '2' and forloop.counter > 2 or item.submenu_cols == '3' and forloop.counter > 3  %}
            
        {% else %}

            <li class="tree-nav__item  {{ sub_item.active_class }}">
                <a href="{{ sub_item.href }}" class="tree-nav__link submenu-heading">{{ sub_item.text }}</a>
                <div class="">
                    {% if sub_item.has_children_in_menu %}
                        {% sub_menu sub_item %}
                    {% endif %}
                </div>
            </li>

        {% endif %}
    {% endfor %}

{% if item.submenu_cols != '1' %}

        {% if item.submenu_cols == '2' %}

            <a href="{{ menu_items.2.href }}" class="submenu-extra-item">

        {% elif item.submenu_cols == '3' %}

            <a href="{{ menu_items.3.href }}" class="submenu-extra-item">

        {% endif %}

            <div class="submenu-extra-item__title">
                {% if item.submenu_cols == '2' %}

                    {{ menu_items.2.text }}

                {% elif item.submenu_cols == '3' %}

                    {{ menu_items.3.text }}

                {% endif %}
            </div>

            <div class="submenu-extra-item__description">

                {% if item.submenu_cols == '2' %}

                    {{ menu_items.2.menu_description }}

                {% elif item.submenu_cols == '3' %}

                    {{ menu_items.3.menu_description }}

                {% endif %}

            </div>

            <svg class="submenu-extra-item__chevron" width="29" height="49" viewBox="0 0 29 49" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M28.1481 22.0332C29.281 23.2132 29.281 25.1295 28.1481 26.3095L10.7481 44.4345C9.61532 45.6146 7.77564 45.6146 6.64282 44.4345C5.51001 43.2545 5.51001 41.3382 6.64282 40.1582L21.9947 24.1666L6.65188 8.17511C5.51907 6.9951 5.51907 5.07876 6.65188 3.89874C7.7847 2.71873 9.62438 2.71873 10.7572 3.89874L28.1572 22.0237L28.1481 22.0332Z" fill="#FFB401"/>
              </svg>
        </a>

    {% endif %}

