{% load menu_tags %}
    <ul>
    {% for sub_item in menu_items %}

        <li class="tree-nav__item-third-level"><a href="{{ sub_item.href }}" class="tree-nav__link">{{ sub_item.text }}</a></li>

           <!--  <li class="tree-nav__item  {{ sub_item.active_class }}">
                <a href="{{ sub_item.href }}" class="tree-nav__link">{{ sub_item.text }}</a>
                
            </li> -->
    

    {% endfor %}
</ul>