{% extends "pages/base.html" %}
{% load wagtailcore_tags %}
{% load crispy_forms_utils %}


{% block main %}
<div class="container">
  {% include_block page.content %}
  {{ page.intro |richtext }}
  <form action="{% pageurl page %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">Send</button>
    {% include "includes/form_privacy_footer.html" %}
  </form>
  {% endblock main %}
</div>

{% block sidebar_content %}
{% endblock sidebar_content %}
